@charset "utf-8";
/* CSS Document */
#menu{ background-color: #333!important; }
ul#menu > li a > i.fa{ font-size:2em; padding-right:10px; }
#dashboard.row, #dashboard > .row, .modal .row{ margin:0; }
#dashboard .col-lg-4, #dashboard .col-xs-12{ padding:0 3px; }
#dashboard .box .body{ padding:3px; }
#dashboard table{ font-size:0.8em; margin-bottom:10px; }
#dashboard table button.btn-xs{ padding:3px 8px; font-size:1.1em; }
#dashboard .quick-btn{
    font-size: 0.9em;
    box-shadow: none;
    vertical-align: top;
    margin: 5px 3px;
    width: 75px;
    border: 1px solid #59b5b2;
    background-color: #fff;
    height: auto;
    min-height: 80px;
}
#dashboard .quick-btn > i.fa{ margin-bottom:5px; }
#dashboard .quick-btn > span.label{ padding: 0.3em 0.7em 0.3em; font-size: 0.9em; }

.box.status-1, .box.status-1 table button{ border-color: rgba(51, 122, 183, 0.6); }
#dashboard .status-1 > header, .quick-btn.status-1 span.label{ background: #337ab7; }
#dashboard .status-1 > header .icons {
	border-right-color: #3368b7;
    box-shadow: 1px 0px 0px rgb(51, 140, 183);
}
.box.status-2, .box.status-2 table button{ border-color: rgba(183, 51, 112, 0.73); }
#dashboard .status-2 > header, .quick-btn.status-2 span.label, .box.status-2 table button{ background: #b73370; }
#dashboard .status-2 > header .icons {
    border-right-color: #b73333;
    box-shadow: 1px 0px 0px rgb(183, 51, 148);
}
.box.status-3, .box.status-3 table button{ border-color: rgba(0,150,136,0.7); }
#dashboard .status-3 > header, .quick-btn.status-3 span.label, .box.status-3 table button{ background: #009688; }
#dashboard .status-3 > header .icons {
	border-right-color: #009688;
    box-shadow: 1px 0px 0px rgb(0, 150, 67);
}
.box.status-4, .box.status-4 table button{ border-color: rgba(158, 70, 238, 0.7); }
#dashboard .status-4 > header, .quick-btn.status-4 span.label, .box.status-4 table button{ background: #9e46ee; }
#dashboard .status-4 > header .icons {
    border-right-color: #8746ee;
    box-shadow: 1px 0px 0px rgb(173, 70, 238);
}
.box.status-5, .box.status-5 table button{ border-color: rgba(255, 153, 0, 0.7); }
#dashboard .status-5 > header, .quick-btn.status-5 span.label, .box.status-5 table button{ background: #FF9900; }
#dashboard .status-5 > header .icons {
    border-right-color: #ffb100;
    box-shadow: 1px 0px 0px rgb(255, 141, 0);
}
.box.status-6, .box.status-6 table button{ border-color: rgba(255, 131, 98, 0.8); }
#dashboard .status-6 > header, .quick-btn.status-6 span.label, .box.status-6 table button{ background: #ff8362; }
#dashboard .status-6 > header .icons {
    border-right-color: #ff8d62;
    box-shadow: 1px 0px 0px rgb(255, 141, 98);
}
.box.status-7, .box.status-7 table button{ border-color: rgba(255, 0, 128, 0.6); }
#dashboard .status-7 > header, .quick-btn.status-7 span.label, .box.status-7 table button{ background: #FF0080; }
#dashboard .status-7 > header .icons {
	border-right-color: #ff00bc;
    box-shadow: 1px 0px 0px rgb(255, 0, 82);
}
.box.status-8, .box.status-8 table button{ border-color: rgba(150, 215, 151, 0.8); }
#dashboard .status-8 > header, .quick-btn.status-8 span.label, .box.status-8 table button{ background: #5E6F1F; }
#dashboard .status-8 > header .icons {
    border-right-color: #6f6d1f;
    box-shadow: 1px 0px 0px rgb(54, 111, 31);
}
.box.status-9, .box.status-9 table button{ border-color: rgba(204, 0, 0, 0.56); }
#dashboard .status-9 > header, .quick-btn.status-9 span.label, .box.status-9 table button{ background: #cc0000; }
#dashboard .status-9 > header .icons {
	border-right-color: #cc2f00;
    box-shadow: 1px 0px 0px rgb(204, 9, 0);
}
.box.status-10, .box.status-10 table button{ border-color: #2e2e2e; }
.quick-btn.status-10 span.label, .box.status-10 table button{ background: #000; }
.box.status-11, .box.status-11 table button{ border-color: rgba(66, 33, 11, 0.5); }
#dashboard .status-11 > header, .quick-btn.status-11 span.label, .box.status-11 table button{ background: #42210B; }
#dashboard .status-11 > header .icons {
    border-right-color: #080402;
    box-shadow: 1px 0px 0px #503403;
}
.box.status-12, .box.status-12 table button{ border-color: rgba(8, 157, 227, 0.85); }
#dashboard .status-12 > header, .quick-btn.status-12 span.label{ background: #089de3; }
#dashboard .status-12 > header .icons {
    border-right-color: #0888e3;
    box-shadow: 1px 0px 0px rgb(8, 187, 227);
}

.box.inverse header{ border-bottom:none!important; }
.fa-mobile{ font-size:1.4em; }
.statusmodal{ font-size:0.9em;}
.statusmodal .form-control{ font-size:1em;}
.statusmodal .form-group{ margin-bottom:5px; }
label.text-left{ text-align:left!important; }
table#log-status{ font-size:0.95em; }
table#log-status > thead > tr {
  background-color: #cbcbcb;
  color: #000;
}
table#log-status > tbody > tr > td{ padding:2px;}
/*table#log-status > tbody > tr.detail > td{ background-color: #f3f4f4; }*/
ul.menu-tab li{ width:100%; margin:10px 5px 8px; font-size:1.07em;}
ul.menu-tab li > a{ padding:5px 0 5px 15px; }
ul.menu-tab li.active > a{ font-weight:bold; border-left:3px solid #000; text-decoration:none; color:#23527c; }
ul.menu-tab li > a i.fa{ padding-right:5px; }
.typeahead { z-index: 1051; }
.other{ display:none; margin-top:5px; }
tr.direct-detail-hotel:hover{ cursor:pointer; }
tr.direct-detail-hotel:hover > td{ border-bottom:2px solid #747474; }
div.detail-hotel{ font-size:0.9em; }
table#log-status hr{ margin:0; padding:2px 0; -webkit-margin-before: 0; -webkit-margin-after: 0; }
@media (max-width: 768px){
	.modal-dialog { width: 100%; margin: 10px auto; }
	ul.menu-tab li{ width:auto; }
	ul.menu-tab li > a{ padding-left: 0; }
	ul.menu-tab li.active > a{ border-bottom:2px solid #000; border-left:none; }
}

.right-side > .content{ padding:5px; }
/*.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{ padding:0 5px!important; }*/
#sm-content{
	padding:10px;
}
#sm-content .box.inverse{
	padding:5px;
}
.box{
	margin-bottom:10px!important;
	padding:10px!important;
}
.box header{
	background:none;
	box-shadow:none;
}
.modal-dialog{
	width:80%!important;
}
.statusmodal h5{
	margin:2px 0!important;
}
.table-bordered > tbody > tr:first-child > td {
    text-align: left;
    vertical-align: top;
	  padding: 2px;
    background-color: #fff!important;
    color: inherit!important;
}

.modal{
	font-size:0.9em;
}
.modal h4, section.content h4{
	font-size:1.2em;
	margin:0;
}
.modal hr, section.content hr{
	margin:5px 0;
}
.modal .box {
    margin: 2px auto;
    padding: 3px!important;
}
.modal .form-control, section.content .form-control{
	height:auto;
}
.modal .form-group input, .modal .form-group select, .modal .fill-table input, .modal .fill-table select, .modal input, .modal select, .modal .input-group-addon, .modal textarea, .form-group input, .form-group select, .fill-table input, .fill-table select, input, select, section.content input, section.content select, section.content textarea, section.content .input-group-addon{
	padding:2px;
	border: 1px solid #808080;
}
.modal .input-group-addon, section.content input, section.content select, section.content textarea, .modal .input-group .input-group-addon{
	font-size:inherit!important;
}
.modal .form-horizontal .control-label{
	padding:0;
}
.modal .form-horizontal .checkbox, .modal .form-horizontal .checkbox-inline, .modal .form-horizontal .radio, .modal .form-horizontal .radio-inline{
	padding-top:0;
}
.modal .checkbox label, .modal radio label{
	padding-left:5px;
}
.modal-body{
	padding:5px!important;
}
.modal .box header h5{
    padding: 5px 12px;
}
.modal .box header .toolbar{
	display:none;
}

.form-group input[type=text]{ width:100%; min-width:0; }

.box.inverse header input[type=text]{ color:#000; }
