h1{ font-size: 1.35em; }
h2{ font-size: 1.2em; }
h3{ font-size: 1.1em; }
h4{ font-size: 1em; }
.navbar .nav > li.user > a{ font-size: 0.85em; }
section.mobile-ver-content > section{
  padding: 10px;
}
div.list-room{
  margin: 0 0 10px;
  border: 1px solid #d1efee;
  background-color: #f0f9f9;
}
div.list-room > div{
  padding: 5px;
}
div.list-room > div.picture{
  padding: 0;
}
div.list-room > div > h4{
  margin-top: 0;
  margin-bottom: 5px;
}
.status.active{ color: #00a65a; }
.status.notactive{ color: #dd4b39; }
input[type=text].form-control{ width: auto!important; }
.input-group input[type=text].form-control{ width: 100%!important; min-width: 0; }
section.bg-white{
  background-color: #fff;
}
div.select-type-manage{
  margin-top: 15px;
}
div.select-type-manage h3{
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  font-weight: bold;
}
button.btn.full-width{ width: 100%!important;}

ul#select-type-manage.nav-tabs>li {
    width: 50%;
}
ul#select-type-manage.nav-tabs>li>a{
  margin-right: 0;
  background-color: #59b5b2;
  color: #fff;
  border-radius: 0;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}
ul#select-type-manage.nav-tabs>li.active>a{
  border-color: #59b5b2;
  border-bottom-color: transparent;
  background-color: #fff;
  color: #1d1d1d;
}
div.tab-content{
  border: 1px solid #59b5b2;
  border-top: none;
  padding: 5px;
}
div.title-hotel h3{
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #056764;
}
