body{
  width: 80%;
  margin: 10px auto;
  padding: 0;
}
html, body, table{
  font-family: "Verdana";
  font-size: 11px;
}

h1{ font-size: 1.6em; }
h2{ font-size: 1.3em; }
h3{ font-size: 1.1em; }

h1, h2, h3{ font-weight: bold; }

div#print{
  border: 1px solid #000;
  padding: 5px 10px;
}
.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>thead>tr>th, .table-bordered>tfoot>tr>th{
  border-color: #000;
}
.table-bordered>thead>tr>th{
  text-align: center;
}
div#print div.box{
  border: 1px solid #000;
  width:100%;
  margin: 10px 0;
  padding: 10px 5px;
}
div#action-button{
  margin: 10px 0;
}
div.row{ margin-top: 10px;}
