.twitter-typeahead {width: 100%;}

.typeahead,
.tt-hint {
  width: 100%;
  height: 30px;
  padding: 0 0 0 10px;
  /*
  font-size: 16px;
  line-height: 30px;
  border: 1px solid #024e6a;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;*/
  color: #999;
  
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
		  box-sizing: border-box;
}
/*
.typeahead {
  background-color: #fff;
}

.tt-hint {
  color: #999
}*/

.tt-dropdown-menu {
  width: 100%;
  
  background-color: #E8F1FF;
  background-color: #FFFAA8;
  background-color: #E7FFEF;
  
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-dropdown-menu .header {
	padding: 5px;
	background-color: #eee; color: #555; border: 1px solid #ccc; border-right: none; border-left: none;
}

.tt-suggestion {
  padding: 5px 10px;
}

.tt-suggestion + .tt-suggestion {
  font-size: 14px;
  border-top: 1px solid #ccc;
}


/*
.tt-suggestion  p {text-indent: 0;}

.tt-suggestions .repo-language {
  float: right;
  font-style: italic;
}

.tt-suggestions .repo-name {
  font-size: 20px;
  font-weight: bold;
}

.tt-suggestions .repo-description {
  margin: 0;
}
*/

.twitter-typeahead .tt-suggestion.tt-is-under-cursor {
	background-color: rgba(4, 109, 162, 1);/* 0.35 #03739c*/
	background-color: #307EC2;
	color: #fff;
}

.twitter-typeahead .tt-suggestion.tt-is-under-cursor .jmlhotel{
	color: #fff;
}
