/*
HTML 5 Template Name: Basic 85
File: Layout CSS
Author: OS Templates
Author URI: http://www.os-templates.com/
Licence: <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>
*/
@import "fonts/pt-sans/stylesheet.css";
@import "fonts/ubuntu-titling/stylesheet.css";
@import "fonts/advent-Bd1.css";
html{overflow-y:scroll;} /* Forces a scrollbar when the viewport is larger than the websites content - CSS3 */

body{margin:0; padding:0; font-size:14px; font-family:"PTSansRegular", Calibri, "Times New Roman", Times, serif; color:#919191; background-color:#232323;}

.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
.clear{display:block; clear:both;}
html[xmlns] .clear{display:block;}
* html .clear{height:1%;}

a{outline:none; text-decoration:none;}

/*code{font-weight:normal; font-style:normal; font-family:Georgia, "Times New Roman", Times, serif;} */

.fl_left{float:left;}
.fl_right{float:right;}

img{margin:0; padding:0; border:none; line-height:normal; vertical-align:middle;}
.imgholder, .imgl, .imgr{padding:4px; border:1px solid #D6D6D6; text-align:center;}
.imgl{float:left; margin:0 15px 15px 0; clear:left;}
.imgr{float:right; margin:0 0 15px 15px; clear:right;}

/*----------------------------------------------HTML 5 Overrides-------------------------------------*/

address, article, aside, figcaption, figure, footer, header, hgroup, nav, section{display:block; margin:0; padding:0;}

/* ----------------------------------------------Wrapper-------------------------------------*/

div.wrapper{display:block; width:100%; margin:0; padding:0; text-align:left;}

.row1 {/*color:#C0BAB6; background-color:#ddd;*/}
.row2 {color:#000; background: #f2f2f2 url(../images/bg-container.png);}
.row2 a{color: #000000;/*#D20909;*/}
.row3 {color:#777; background-color:#232323;}
.row3 a {color: #000;}

/*----------------------------------------------Generalise-------------------------------------*/

#header, #menu, #container, #footer{display:block; width:960px; margin:0 auto;}

nav ul{margin:0; padding:0; list-style:none;}

/*--- Titles ---*/
h1, h2, h3, h4, h5, h6{margin:0; padding:0; font-weight:normal; font-style:normal; line-height:normal; font-family: "UbuntuTitlingBold";}
h1 {font-size: 2.5em; letter-spacing: -3px;}
h2 {font-size: 2em; letter-spacing: -3px;}
h3 {font-size: 1.5em; letter-spacing: -1px;}
h4 {font-size: 1.25em; letter-spacing: -1px;}
h5 {font-size: 1.1em; letter-spacing: -1px;}
h1 .grey, h2 .grey, h3 .grey, h4 .grey, h5 .grey, h6 .grey {color: #333;}
h1 .maroon, h2 .maroon, h3 .maroon, h4 .maroon, h5 .maroon, h6 .maroon {color: #D20909; }
h1 .strikethrough, h2 .strikethrough, h3 .strikethrough, h4 .strikethrough, h5 .strikethrough, h6 .strikethrough{ text-decoration: line-through;}
h1 .white, h2 .white, h3 .white, h4 .white, h5 .white, h6 .white {color: #FFFFFF; }
h1 .light-grey, h2 .light-grey, h3 .light-grey, h4 .light-grey, h5 .light-grey, h6 .light-grey {color: #777; }
h1 .blue, h2 .blue, h3 .blue, h4 .blue, h5 .blue, h6 .blue {color: #c22a25; }/*#000000;*/

h1.default, h2.default, h3.default, h4.default, h5.default, h6.default {
	margin: 0; letter-spacing: 0; 
	font-family:"PTSansRegular", Calibri, "Times New Roman", Times, serif; font-weight:bold;
}

/*--- Inputs ---*/
form, fieldset, legend{margin:0; padding:0; border:none;}
legend{display:none;}
input, textarea, select{
	font-family:"PTSansRegular", Calibri, "Times New Roman", Times, serif; font-size:12px; 
	color: #333333; 
	padding:0 2px; 
	height:22px; 
	border:1px solid #999; border-radius:5px; outline: none;
	
	-webkit-transition: all 0.1s; 
   	   -moz-transition: all 0.1s; 	
	     -o-transition: all 0.1s;
		    transition: all 0.1s;
}
input:focus, textarea:focus, select:focus {border-color: #000000;}
input[type="checkbox"], input[type="radio"] {height: auto;}

.search-submit {
	margin: 5px 0 0 0; padding: 3px 7px 3px 25px;
	background: #000000 url(../images/search-submit.png) center left no-repeat; background-size: 28px; color: #fff;
	border: 3px solid #004E75;
	cursor: pointer;
	-webkit-box-sizing : initial;
	   -moz-box-sizing : initial;
	   		box-sizing : initial;
	
}
.general-submit {
	margin: 0; padding: 1px 10px;
	background: #000000; color: #fff;
	border: none;
	cursor: pointer;
	-webkit-box-sizing : initial;
	   -moz-box-sizing : initial;
	   		box-sizing : initial;
}

/*--- Links ---*/
a {
	cursor: pointer;
	-webkit-transition: all 0.2s; 
   	   -moz-transition: all 0.2s; 	
	     -o-transition: all 0.2s;
		    transition: all 0.2s;
}
a.text:hover {text-decoration: underline;}
a.text.maroon {color: #D20909;}
a.button {display: inline-block; background-color: #000000; color: #fff; padding: 5px; border-radius: 5px; opacity: 0.8;}
a.button:hover {opacity: 1;}
a.button.view-map { 
	padding: 5px 5px 5px 30px;
	background: #88AC2F url("../images/map.png") no-repeat 5px center / 20px;
	/*background: url("../images/map.png") no-repeat scroll 20px center / 20px auto #88AC2F;*/
	font-size: 14px;
}
a.button.expand { 
	padding: 5px 5px 5px 25px;
	background: #FFA500 url(../images/nav-expand.png) no-repeat 5px center / 20px;
	font-size: 14px;
}
a.button.collapse { 
	padding: 5px 5px 5px 25px;
	background: #FECB20 url(../images/nav-collapse.png) no-repeat 5px center / 20px; 
	font-size: 14px;
}
a.button.book {
	background: #D20909; border: 3px solid #A00000; 
	padding: 2px 5px;
}
a.button.edit { 
	padding: 5px 5px 5px 25px;
	background: #000000 url(../images/edit.png) no-repeat 5px center / 18px;
	font-size: 14px;
}

/*--- Box Sizing ---*/
.one_quarter, .two_quarter, .three_quarter, .four_quarter{display:inline-block; float:none; margin:0 15px 0 0; vertical-align: top;}
.one_quarter{width:225px;}
.one_quarter:nth-child(4n) {margin-right: 0;}
.two_quarter {width:470px;}
.two_quarter:first-child {padding: 0 20px 0 0; border-right: 1px solid #DEDEDE;}
.two_quarter:nth-child(2n) {margin-right: 0;}
.three_quarter{width:715px;}
.four_quarter{width:960px; float:none; margin-right:0; clear:both;}
.lastbox{margin-right:0;}

/*--- Layouting ---*/
.center {text-align: center;}
.left {text-align: left;}
.right {text-align: right;}
.top {vertical-align: top;}
.bottom {vertical-align: bottom;}
.middle {vertical-align: middle;}

.inline {display: inline;}
.inline-block {display: inline-block;}
.table {display: table;}
.table-row {display: table-row;}
.table-cell {display: table-cell;}

.border-box {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

.content-list {list-style: none; padding: 0; margin: 0;}
/*.content-list li {margin: 0; padding: 0;}*/
.thumb {overflow: hidden; position: relative; }

/* .white-box {
	padding: 10px;
	background-color: #ffffff;
	box-shadow: 3px 3px 5px #ccc; 
	-moz-box-shadow: 3px 3px 5px #ccc; 
	-webkit-box-shadow: 3px 3px 5px #ccc;
} */
.border-bottom {margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid #ddd;}
.border-right { padding-right: 10px; border-right: 1px solid #ddd;}

/*--- Texts & Content ---*/
p {text-indent:25px; font-size: 13px; line-height: 15px;}
p:first-of-type {margin-top: 0;}
p:last-of-type {margin-bottom: 0;}

q{display:block; margin: 5px 0 0 0; padding:0 5px 5px 5px; background-color:#ECECEC; font-size: 14px; font-style:italic; line-height:normal;}
/*"\201C""\201D""\2018""\2019"*/
q:before{content:'\201C \00a0'; font-size:30px; line-height:10px; vertical-align: bottom; opacity: 1;}
q:after{content:'\201D'; font-size:30px; line-height:10px; vertical-align: bottom;}


/* .title {font: bold 16px "Trebuchet MS","PTSansRegular", Calibri, Arial,Helvetica,sans-serif;} */
/* .title-blue {color: #000000;} */
.desc {font-size: 14px; line-height: 16px; color: #777;}
.small-desc {font-size: 13px; line-height: 18px; }
.rate .thousand {font-size: 70%;}
.capitalize {text-transform: capitalize;}

/*--- Tabs ---*/
.tabs {margin: 0 0 10px 0; border-bottom: 1px solid #999;}
.tabs li {display: inline-block; position: relative; padding: 0px; border: 1px solid #999; border-bottom: none; border-radius: 5px 5px 0 0;}
.tabs li a {display: block; color: #000; background-color: #ddd; padding: 5px 10px; font-size: 16px; border-radius: 5px 5px 0 0;}
.tabs li a.active { background-color: #fff;}
.tabs li a.active:before {
	position: absolute;
    content: "";
    width: 100%;
    top: -1px;
    left: 0;
    border-top: 3px solid #000000;
    z-index: 1;
    border-radius: 5px 5px 0 0;
}
.tabs li a.active:after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: -1px;
    left: 0;
    border-bottom: 1px solid #fff;
    z-index: 1;
}

/*--- Show more ---*/
.wrapper-toggle-readmore {position: relative; display: block; padding:10px 0 0 0; margin: 10px 0 0 0; border-top: 1px solid #ddd;}
.wrapper-toggle-readmore a.toggle-readmore {
	position: absolute; 
	right: 5px; margin: -20px 0 0 0; padding: 0 5px 0 25px;
}



/*----------------------------------------------Wrapper-Logo-------------------------------------*/
#wrapper-logo {color:#333; background-color: #fff; /*#EBEBEB*/}
#wrapper-logo a {color: #000000;}
#wrapper-logo #header{height: 89px; background: url(../images/world.png) no-repeat right top; }

/*----------------------------------------------Header-------------------------------------*/
#header{padding: 0;}

#header #logo {float:left; margin: 7px 0 0 25px;}
/*
#header hgroup{float:left; margin:0 0 20px 0;}
#header hgroup h1, #header hgroup h2{font-weight:normal; text-transform:none;}
#header hgroup h1{font-size:36px;}
#header hgroup h2{font-size:13px;}
*/
#header #header-links {
	height: 100%;
	padding: 0 10px;
	background: rgba(255,255,255,0.9); 
}
#header #header-links > .right {margin-bottom: 5px;}

/*----------------------------------------------Wrapper-Menu-------------------------------------*/
#wrapper-menu {
	color:#C0BAB6;
	background-color: #000000; /* #D20909; /*#b70000 */
	border-top: 7px solid #004E75;
}

/*----------------------------------------------Menu-------------------------------------*/
#menu nav{ float:none; margin: 0; padding:7px 0; color:#fff; }
#menu nav ul{}
#menu nav li{
	display:inline-block; 
	margin:0 15px 0 0; padding: 5px 15px 5px 0; 
	font-size: 16px; text-transform: uppercase; 
	background: url(../images/menu-line.png) no-repeat right center;}
#menu nav li:last-child {margin-right:0; background: none;}
#menu nav li a{color:#eee;}
#menu nav li a:hover {color:#fff; text-shadow: 0px 0px 1px #fff;}
/*padding:4px; border:1px solid #D6D6D6; text-align:center;*/


/*----------------------------------------------Content Area-------------------------------------*/

#container {padding:15px 0;}
#container section{display:block; width:100%; margin:0 0 30px 0; padding:0;}
#container .last{margin:0;}
#container .more{text-align:right;}

/* ------Shout-----*//*
#container #shout{padding:0 0 20px 0; border-bottom:1px solid #DEDEDE; text-align:center;}
#container #shout p{font-size:20px; margin:0; padding:0; line-height:1.8em;}
*/

/* ------Main Content-----*/
#container #content {display:block; width:100%; line-height:1.4em;}
#container #content .spacer{display:block; width:100%; height:30px; margin:0; padding:0; clear:both;}
#container #content ul.content-list li {position: relative;}


/* --- SLIDER --- *//*
.bx-wrapper {margin-bottom:0px !important;}
.bx-viewport {
			box-shadow: 3px 3px 5px #ccc !important; 
	   -moz-box-shadow: 3px 3px 5px #ccc !important;
	-webkit-box-shadow: 3px 3px 5px #ccc !important;
	border: none !important;
	left: 0 !important;
}
.bx-viewport ul.bxslider {margin:0; padding: 0;}
.bx-viewport ul.bxslider img {width: 100%;}
.bx-viewport ul.bxslider .bx-caption {background: rgba(0,0,0,0.5); text-align: right;}
.bx-viewport ul.bxslider .bx-caption span {
	display: inline-block;
	font-family: "Trebuchet MS"; font-size: 20px; text-transform: uppercase;
	padding: 10px;
	text-align: right;
}
.bx-viewport ul.bxslider .bx-caption span.price {position: relative; background: #D20909; font-size: 18px; font-weight: bold;}
.bx-viewport ul.bxslider .bx-caption span.from {
	position: absolute; 
	top: 1px; left: 1px; padding: 0; 
	font-size: 13px; line-height: 13px; font-weight: normal; text-transform: lowercase;
} 
.bx-wrapper .bx-pager, 
.bx-wrapper .bx-controls-auto { bottom: 10px !important; margin: 0 0 0 10px; text-align: left !important; z-index: 100; }
.bx-wrapper .bx-pager.bx-default-pager a {background: #fff !important;}
.bx-wrapper .bx-pager.bx-default-pager a:hover, 
.bx-wrapper .bx-pager.bx-default-pager a.active {background: #D20909 !important;}
*/


/*--- HOME PAGE ---*/
#container #content #search form .search-query {padding: 5px 10px; width: 100%; height: 30px; }
#container #content #search form .inline-block {margin-right: 5px;}
#container #content #search form .inline-block:last-of-type {margin-right: 0;}

#container #content #homepage #list-product li {width: 215px; margin: 0 10px 10px 0; padding: 0 0 10px 0;}
#container #content #homepage #list-product li:nth-child(2n) {margin-right: 0;}
#container #content #homepage #list-product li .pict {width: 100%; height: 150px;}
#container #content #homepage #list-product li .title {padding: 10px 0; margin: 0 10px; border-bottom: 1px solid #ddd;}
#container #content #homepage #list-product li .small-desc {margin: 10px 0; padding: 0 10px;}
#container #content #homepage #list-product li .price{ padding: 5px; background: #333; color: #fff;}

#container #content #list-hotel li {padding: 10px 0; border-bottom: 1px solid #ddd;}
#container #content #list-hotel li:first-of-type {padding-top: 0;}
#container #content #list-hotel li:last-of-type {border-bottom: none; padding-bottom: 0;}
#container #content #list-hotel li > a {color: #333; }
#container #content #list-hotel li .pict {width: 75px; height: 75px; margin: 0 5px 0 0;}
#container #content #list-hotel li .star img {width: 12px;}

#container #content #promo-flight li {width: 227px; margin: 0 10px 10px 0;}
#container #content #promo-flight li:nth-of-type(2n) {margin-right: 0;}
#container #content #promo-flight li .pict {width: 75px; height: 75px; }
#container #content #promo-flight li .desc {width: 125px;}
#container #content #promo-flight #departure {margin: 0 0 10px 0;}

#container #content #top-destination {margin-bottom:50px; padding:0 0 20px 0;/* border-bottom:1px solid #DEDEDE;*/}
#container #content #top-destination ul li {margin-bottom:20px; position: relative;}
#container #content #top-destination ul li .pict {height: 150px;}
/*#container #content #top-destination ul li .label {position: absolute; bottom: 20px; right: 10px; padding: 5px 15px; 
	background: rgba(0, 102, 153, 0.5);/*rgba(210, 9, 9, 0.5) color: #fff;}*/
#container #content #top-destination ul li .label {font-weight:bold; text-align:center; text-transform:uppercase; border-bottom:1px solid #ddd; padding:5px 0; margin-bottom:5px; }


/*--- SEARCH PAGE ---*/
#container #content #sidebar .white-box ,
#container #content #left-content .white-box ,
#container #content #right-content .white-box ,
#container #content #single-content .white-box {margin-bottom: 10px;}

#container #content #sidebar {float: left; width: 230px; margin-right: 10px;}
#container #content #sidebar #search form .search-query {padding: 5px; height: 30px;}
#container #content #sidebar #search form .typeahead,
#container #content #sidebar #search form .tt-hint {padding: 0 0 0 5px;}

#container #content #left-content {width: 205px;}
#container #content #left-content #product-pict {width: 100%; margin: 0 0 10px 0; }

#container #content #right-content {float: right; width: 715px;}
#container #content #right-content ul.content-list li .bottom-right { position: absolute; bottom: 10px; right: 0;}

#container #content #filters {position: relative;}
#container #content #filters-overlay {
	position: absolute;
	top: 0; left: 0;
	z-index: 1000;
	width: 100%; height: 100%;
	background: rgba(255,255,255,0.7) url(<?=$base_url;?>/images/square_bg.png);
}
#container #content #filters-overlay #message-wrapper {position: relative;}
#container #content #filters-overlay #message {
	width: 230px;
	top: 0;
	padding: 10px;
	background-color: #FECB20; color: #fff;
}

/*---- LIST HOTEL ----*/
#container #content #right-content #list-hotel li {line-height: 1.2em; padding: 10px 0;}
#container #content #right-content #list-hotel li:first-of-type {padding-top: 0;}
#container #content #right-content #list-hotel li:last-of-type {padding-bottom: 0;}
#container #content #right-content #list-hotel li .col-2 {width: 430px; }
#container #content #right-content #list-hotel li .col-3 {width: 150px; text-align: right;}
#container #content #right-content #list-hotel li .pict {width: 100px; height: 100px; margin: 0 5px 5px 0;}
#container #content #right-content #list-hotel li .title {font-size: 18px;}

/*--- DETAIL PAGE - HOTEL ---*/
#breadcrumb {margin: 0 0 10px 0;}
#breadcrumb .breadcrumb {text-transform: capitalize;}

#container #content #single-content #hotel-gallery #main-pict {width: 300px; height: 225px;/*305px;*/ margin: 0 5px 10px 0;}
#container #content #single-content #hotel-gallery .secondary-pict {width: 190px; height: 105px;}
#container #content #single-content #hotel-gallery .secondary-pict:first-child {margin: 0 5px 10px 0;}
#container #content #single-content #hotel-gallery #thumb-pict {width: 700px;/*400px;*/}
#container #content #single-content #hotel-gallery #thumb-pict .pict {overflow: hidden;}
#container #content #single-content #hotel-gallery #thumb-pict .pict img {height: 100%;}


#container #content #single-content #search {width: 210px; margin: 0 0 10px 0;}

#container #content #single-content #room-availability .pict {width: 90px; height: 90px;}
#container #content #single-content #room-availability .table .table-row { }
#container #content #single-content #room-availability .table .table-row:first-child {background: #000000; color: #fff;}
#container #content #single-content #room-availability .table .table-row .table-cell {padding: 5px 10px; border: 1px solid #ddd; border-top: none; border-right: none;}
#container #content #single-content #room-availability .table .table-row .table-cell:nth-child(1) {width: 160px;}
#container #content #single-content #room-availability .table .table-row .table-cell:nth-child(2) {width: 100px;}
#container #content #single-content #room-availability .table .table-row .table-cell:nth-child(3) {width: 200px;}
#container #content #single-content #room-availability .table .table-row .table-cell:nth-child(4) {width: 210px; border-right: 1px solid #ddd;}
/*--- room ---*/
#container #content #single-content #room-availability .table .table-row .table-cell > div {font-size: 12px;}
#container #content #single-content #room-availability .table .table-row .table-cell > div input, 
#container #content #single-content #room-availability .table .table-row .table-cell > div textarea, 
#container #content #single-content #room-availability .table .table-row .table-cell > div select {padding: 0; font-size: 11px; height: 18px;} 
#container #content #single-content #room-availability .table .table-row .table-cell > div .title {margin-top: 5px;}
#container #content #single-content #room-availability .table .table-row .table-cell > div .clear {padding: 0 5px 5px 5px; background: #eee;}
#container #content #single-content #room-availability .table .table-row .table-cell > div .inline-block {margin-right: 5px;}
#container #content #single-content #room-availability .table .table-row .table-cell > div .inline-block:last-of-type {margin-right: 0;}
/*--- book summary ---*/
#container #content #single-content #room-availability #book-summary p {text-indent: 0;}


#container #content #single-content #hotel-detail {margin-bottom: 10px;}
#container #content #single-content #hotel-detail .tabs {margin-bottom: 0; border-bottom: none}
#container #content #single-content #hotel-detail .tabs li {border: none; border-radius: 0;}
#container #content #single-content #hotel-detail .tabs li a {
	/*font-weight: bold; font-size: 14px; letter-spacing: -1px;*/ 
	color: #eee; background-color: #000000;
	border-radius: 0;
	opacity: 0.6; z-index: 1;
}
#container #content #single-content #hotel-detail .tabs li a.active,
#container #content #single-content #hotel-detail .tabs li a:hover {color: #fff; opacity: 1; z-index: 3;}
#container #content #single-content #hotel-detail .tabs li a.active:after {border-bottom: none; }
#container #content #single-content #hotel-detail .tabs-content {
	padding: 10px;
	background-color: #ffffff;
	border-top: 5px solid #000000;
	box-shadow: 3px 3px 5px #ccc;
	-moz-box-shadow: 3px 3px 5px #ccc;
	-webkit-box-shadow: 3px 3px 5px #ccc;
	z-index: 2;
}
#container #content #single-content #hotel-detail #hotel-location #basic_map {width: 100%; height: 300px;}
/*#container #content #single-content #hotel-detail #hotel-location iframe#map {width: 100%; height: 300px;}*/

#container #content #single-content #hotels-nearby #list-hotel li {
	width: 300px;
	padding: 0; margin: 0 5px 0 0;
	border-bottom: none; border-right: 1px solid #ddd; 
}
#container #content #single-content #hotels-nearby #list-hotel li:nth-of-type(3n) {
	margin: 0;
	border-right: none;
}



/*--- SEARCH TOUR ---*/
#container #content #right-content #list-product li {padding: 10px 0; border-bottom: 1px solid #ddd;}
#container #content #right-content #list-product li:first-of-type {padding-top: 0;}
#container #content #right-content #list-product li:last-of-type {/*padding-bottom: 0;*/ border-bottom: none;}
#container #content #right-content #list-product li .pict {width: 100px; height: 100px; margin: 0 5px 0 0;}
#container #content #right-content #list-product li .col-2 {width: 395px;}	

/*--- LIST HOTEL TOUR ---*/
#list-product-hotel > li {width: 185px; height: 320px; margin: 0 4px 7px 0; padding: 0;}
#list-product-hotel > #info {
	padding: 25px 15px; 
	background-color: #fff; 
	background-image: url(../images/square_bg.png), url(../images/square_bg.png); 
	color: #848484;
}
#list-product-hotel > #info #dates-details > div {margin: 0 0 5px 0; font-size: 16px;}
#list-product-hotel > #info #dates-details > div:first-child {margin: 0 0 10px 0; font-size: 18px; color: #88AC2F;}
#list-product-hotel > #info #dates-details > div > img {margin: 0 5px 0 0;}
#list-product-hotel > #info #dates-details > div > .button.toggle {background: #88AC2F;}
#list-product-hotel > #info #dates-details > .fl_bottom {bottom: 5px; width: 155px;}

#list-product-hotel > #info #search-another > div:first-child {margin: 0 0 10px 0; font-size: 18px; color: #000000;}
#list-product-hotel > #info #search-another > #search form > div:first-child{margin:0;}
#list-product-hotel > #info #search-another > #search form > div {margin: 0 0 5px 0;}
#list-product-hotel > #info #search-another > div > .button.toggle {background: #FECB20;}
#list-product-hotel > #info #search-another > .fl_bottom {bottom: 10px; width: 155px;}

#list-product-hotel > li:nth-child(5n) {margin: 0 0 7px 0;}
#list-product-hotel > li .pict {height: 175px;}
#list-product-hotel > li .price {
	position: absolute; top: 10px; left: -3px;
	padding: 5px;
	background: #D20909/*/#FECB20/*/; color: #fff;
	box-shadow: 1px 1px 5px #000;
}
#list-product-hotel > li .text {padding: 10px;}
#list-product-hotel > li .fl_bottom {position: absolute; bottom: 10px; width: 165px;}



/*
#container #content #services{}
#container #content #services article{}
#container #content #services figure{display:inline; float:left;}
#container #content #services strong{float:left; margin:8px 0 0 10px; padding:0; font-size:14px; font-weight:bold; text-transform:uppercase;}
#container #content #services p{display:block; margin:0; padding:5px 0 0 0; clear:both; line-height:1.6em;}
*/

/*----------------------------------------------Footer-------------------------------------*/
/* #wrapper-links {
	background-color: #fff; 
			box-shadow: 0px -3px 5px #ccc; 
	   -moz-box-shadow: 0px -3px 5px #ccc; 
	-webkit-box-shadow: 0px -3px 5px #ccc;
} */

#footer {padding:20px 0;}
#footer .inline-block {margin: 0 20px 0 0;}
#footer .inline-block:last-of-type {margin: 0px;}

.error { font-size: 11px; color: rgb(255, 55, 27); margin-left: 5px; }

ul.content-list .table-row .table-cell{ border:1px solid #BCC3C3; border-top:none; border-left:none;  padding:5px; }
ul.content-list .table-row .table-cell:nth-child(4n+1){  border-left:1px solid #BCC3C3; }
ul.content-list .table-row:first-child .table-cell{  border-top:1px solid #BCC3C3; }