/* CSS Document */
@font-face {
	font-family: 'Ronda Regular';
	src: url('fonts/ronda-regular/Ronda Regular.ttf');
}
.test_info{
	display:none!important;
}
body{
	/* font-family: Segoe UI,Helvetica,Arial,Sans-Serif!important; */
	font-family: 'Montserrat', sans-serif;
	overflow: hidden;
}
p{
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	line-height: 24px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family: 'Montserrat', sans-serif;
}
h1.default, h2.default, h3.default, h4.default, h5.default, h6.default{
	font-family: 'Nunito', sans-serif;
}
#mainWrapper {overflow: hidden;}

.container-fluid, .container{
	padding-left:0;
	padding-right:0;
}

/* .navbar-brand{
	font-family:'Ronda Regular';
	font-size:2.2em;
	letter-spacing:1px;
} */
header.main-header{
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 10000;
}
header.main-header div.header-bar{
	background-color:#c32700;
	border-radius:0 0 10px 10px;
	padding:5px;
	color:#FFF;
	font-size:12px;
	margin-right: 25px;
}


.navbar-default{
	background-color:#FFF;
/*	border-radius:0 0 25px 25px;
*/	border:none;
	font-family: 'Nunito', sans-serif;
	/* box-shadow: 0px 0px 15px 0px #333; */
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
	box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
	-webkit-transition: all .3s cubic-bezier(.25,.8,.25,1);
	-o-transition: all .3s cubic-bezier(.25,.8,.25,1);
	transition: all .3s cubic-bezier(.25,.8,.25,1);
	overflow: hidden;
}
.navbar-default.navbar-transparant{
	background-color:rgb(255, 255, 255, 0.9);
	/* box-shadow: none; */
}
.navbar-default .navbar-nav div a{
	color:#FFF;
}
.navbar-default .navbar-nav > li{
	font-size:16px;
	line-height:30px !important;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover{
	background:none;
	border-bottom:  5px solid #c32700;
	color: #c32700;
/*	border-radius: 5px;*/
}
.navbar-default .navbar-nav>li>a{
	color: #1c1b17;
	font-weight: 400;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #c32700;
}
.navbar-brand .header-logo{
	/* height: 70px;
	padding: 0 30px; */
	max-height: 70px;
    padding: 0 10px;
    max-width: 160px;
}
.navbar-default .navbar-nav{ width:980px; }
.navbar-toggle {margin: 15px 15px 15px 0; border-radius: 6px; padding: 12px 10px; background-color: #ddd; border-color: #ccc;}


ul.social-media, ul-membership{
	margin-bottom:0;
	margin:2px 0;
}
ul.social-media > li > a, ul-membership > li > a{
	color:#FFF;
}

.form-control, .input-group-addon{
	font-family: 'Nunito', sans-serif;
}

#slider .carousel .container {position: relative;}
#slider .carousel-inner > .item img{
	/* height: 400px; */
	/* position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%; */
}

#form-overlay {
	position: absolute;
	z-index: 99;
	background:rgb(255, 255, 255, 0.7);
	width: 400px;
	height:auto;
	color: #FFF;
	padding: 15px;
	bottom: 13	px;
	left: 0px;
/*	border-radius: 10px;
*/}

#form-overlay input,#form-overlay select, #form-overlay label{
	text-align: left;
	font-weight: 300;
}
#form-overlay input,#form-overlay select{
	height:40px;
	text-align: left;
	color: #000;
	font-weight: 500;
	font-size: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
    -webkit-box-shadow: none;
	box-shadow: none;
	border:none;
	margin:0;
	border-radius: 0; 
}
#form-overlay select{
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-align-last: center;
}
#form-overlay button{
	background: #4169E1;
	color:#FFF;
	width: 100%;
	border-radius:5px;
	font-weight: 700;
}
#form-overlay button,
#form-overlay label{text-transform: uppercase;}
/* #checkin.hasDatepicker:focus{border:0;box-shadow:none;color: transparent;text-shadow: 0 0 0 #c22a25;} */

.field_decor_div_1{
	width: 0;
	height: 0px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #FFF;margin: 0 auto;
}
.field_decor_div_2,.field_decor_div_3{background: #FFF;text-align: center;}
.field_decor_div_2{color: #444;font-weight: bold;padding-top: 2px; border-radius: 5px 5px 0 0; margin-top: -1px; margin-bottom: -1px;}
.field_decor_div_3{color: #666;padding-bottom: 2px; border-radius: 0 0 5px 5px; margin-top: -1px;}
.field_decor_hr{padding: 2px 0 0  0;width: 60%;margin: 0 auto;border-bottom: 1px solid #999;border-top-color: #fff;}
.field_decor_span{font-size:12px; font-weight: 400;}

.text_decor_div{
	position: absolute;
	/* margin-top: -390px;
	margin-bottom: 155px; */
	z-index: 99;
	color: #FFF;
	text-shadow: 0px 5px 10px #000;
	font-size: 25px;
	bottom: 0;
	right: 0;
    transform: translateY(-75%);
}
.text_decor_1,.text_decor_2{line-height: 1;}
.text_decor_1{font-size: 1.2em; letter-spacing: 1px;margin-bottom: 200px}
.text_decor_2{font-size: 2em; font-weight: 700; letter-spacing: 1px;}
.text_decor_3{font-size: 1em;}
.text_decor_hr{margin: 30px 0; width: 15%;border: 2px solid #c32700;}

ul.bxslider img{
	width:100%;
}

.home-row{
	/* margin-bottom:100px; */
	clear: both;
}

.white-box {padding: 15px; background-color: #ffffff;}
.input-rounded,
.btn-rounded {border-radius: 5px;}

.section-wrapper{
	padding: 50px 0;
}
.section-wrapper.bg-light-grey{background-color: #eee;}
.section-wrapper.bg-red{background-color: #c22a25; color: #fff;}
.section-wrapper.bg-white{background-color: #fff;}
.section-wrapper.bg-light-green{background-color: #92c01f;}
.section-wrapper.bg-light-blue{background-color: #abd8fc;}


.section-wrapper .section-title {font-weight: 200; text-align: center; padding: 20px 0; margin: 0; text-transform: uppercase; letter-spacing: 2px;}
.section-wrapper.bg-red .section-title {color: #fff;}

.section-wrapper hr{
	border-top: 4px solid #92c01f;
	text-align: center;
	margin: 0 auto 20px auto;
    width: 10%;
}
.section-wrapper.bg-red hr{border-top-color: #fff;}


.primary-theme{
	color:#c22a25;
}
.blue{
	color:#1ba0e2;
}
.orange{
	color:#ffc00f;
}
.light-grey {color: #888;}

section.content{
	margin:100px auto 30px;
}
.listing-box{
	padding:0;
	margin:0 10px 10px 0; 
	border:1px solid #e2e2e2;
}
.col-md-4.listing-box{
	width:30%;
}
.listing-box .description{
	padding:0 10px 10px;
}
.listing-box .description p{
	color:#737373;
}
.listing-box .price-box{
	margin:15px 0 0 0;
}
.listing-box .price-box > div{
	padding:0;
}
.listing-box .price-box h4{
	margin:0;
}


#pgsch, #pgdtl {padding-top: 130px;}

#sidebar .card-rounded,
#right-content > .card-rounded,
#right-content > .card-rounded {
	margin-bottom: 15px;
}

#right-content {font-family: 'Nunito', sans-serif;}

#search {padding: 0 0 15px 0;}
#search form > .form-group:first-of-type {margin-top: 15px;}
#search #submit {width:100%;}
#search #div-check-in,
#search #div-promo-code {padding-right: 0;}

#properties-found-text{line-height: 32px; font-weight: bold; font-size: 16px;}

#sortbar {
	/* border-color:#c22a25;
    background-color: #fff;
    border-top-width: 4px;
	border-radius: 4px; */
	float: right;
}
#sortbar > ul > li.great {
    background-color: #c22a25;
    font-weight: normal;
    border-color: #c22a25;
}
#sortbar > ul > li.great > a {
    color: #fff;
}
#sortbar > ul {
	margin-bottom: 0;
	/* padding: 10px; */
}
#sortbar li ul {
    /* border-color: #5BBAFF; */
	border-color:#c22a25;
    background-color: #fff;
}
#sortbar > ul > li {
    margin-left: 5px;
    /* border: 1px solid #5BBAFF; */
	border:1px solid #c22a25;
    border-radius: 4px;
}
#filters {
    position: relative;
    padding: 0;
	/* border-color: #5BBAFF !important; */
	border-color:#742812 !important;
}
#filters .filter-wrapper {
	padding: 15px;
	margin-bottom: 0;
}
#filters .filter-wrapper .title{
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
	/* color: #c22a25; */
}
#filters .filter-wrapper input,
#filters .filter-wrapper label,
#filters .filter-wrapper select{
    font-weight: normal;
	/* color:#c22a25; */
	font-family: 'Nunito', sans-serif;
}
#filters .filter-wrapper > div {
    position: relative;
}
#filters .filter-wrapper > div > input[type="checkbox"] {
    float: left;
}
#filters .filter-wrapper > div > label {
    margin-left: 18px;
    display: block;
	padding-right: 30px;
}
#filters .filter-wrapper > div > label span.small-desc {
    position: absolute;
    right: 0;
    top: 0;
}

#filters #q-hotelname-wrapper .row .col-md-9{padding-right: 0;}

/* #list-hotel .pict.thumb > img {
    width: 200px;
} */
#div-list-hotel {position: relative;}

#filters-overlay {
    position: absolute;
    background-color: #eee;
	width: calc(100% + 10px);
	height: 100%;
	margin: -5px;
	z-index: 5;
}
#filters-overlay > #message {
	padding: 10px;
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);
}
#filters-overlay img {
    width: 90px !important;
}

/**end-adhe**/

/** start-css from detail hotel**/
#breadcrumb .breadcrumb {
	background: none;
	color: #c22a25;
	padding: 0 5px;
}
#breadcrumb .breadcrumb:first-of-type {padding-left: 0;}

#hotel-gallery {width: 100%; height: 500px;}
#hotel-gallery .gallery-thumbs {
	
}
#hotel-gallery .swiper-slide {
	background-size: cover;
	background-position: center;
	border-radius: 7px;
  }
#hotel-gallery .gallery-top {
	height: 90%;
	width: 100%;
  }
#hotel-gallery .gallery-thumbs {
	height: 10%;
	box-sizing: border-box;
	margin-bottom: -10px;
	padding: 5px 0 0 0 !important;
	cursor: pointer;
  }
#hotel-gallery .gallery-thumbs .swiper-slide {
	height: 100%;
	opacity: 0.4;
	border-radius: 6px;
  }
#hotel-gallery .gallery-thumbs .swiper-slide-thumb-active {
	opacity: 1;
  }

.section-title-v1{
	margin-top: 5px;
    font-weight: 700;
	border-bottom: 1px solid #ddd;
	padding-left: 15px;
}


#hotel-facilities .amenities-category {padding-top: 20px;} 
#hotel-facilities .amenities-category:first-of-type {padding-top: 0px;} 
#hotel-facilities .content-list li {
	/* margin: 0 0 5px 0px;  */
	padding: 0 0 0 30px; 
	/* width: 170px;  */
	word-wrap:break-word;
	position:relative;
}
.unchecked {color: #888;}
.unchecked:before {
	content: '\f111';
	width: 20px;
	height: 20px;
	position: absolute; left: 10px;
	font-family: "Font Awesome 5 Free";

}

.checked:before {
	content: '\f058'; /*content: '\2714'; color: #88AC2F;*/
	width: 20px;
	height: 20px;
	position: absolute; left: 10px;
	font-family: "Font Awesome 5 Free";
	/* color: #c32700; */
}
#content {background-color: #eee;}
#container #content #single-content #search {
	height: 290px; width: 200px;
	margin: 0px; padding: 10px;
	background: #f0f0f0;
}
#container #content #single-content #search form > div:first-of-type ,
#container #content #single-content #search form > div.inline-block {margin-top: 10px;}
#room-availability .pict{ 
	height:100px; 
	width:100px; 
	float: left; margin-right: 10px;
}
#room-availability .content-list li.title {text-transform: uppercase; margin-bottom: 20px; padding-bottom: 10px; font-weight: bold;}
#room-availability .content-list { }
#room-availability .wrapper-dates {margin-bottom: 30px;}
#room-availability #availability-hotel {margin-top: 10px;}
#room-availability input,
#room-availability select,
#room-availability button,
#guest-detail input,
#guest-detail select,
#guest-detail button,
#guest-detail textarea { height: 34px; border-radius: 6px; border-color: #bbb;}
#guest-detail input,
#guest-detail select,
#guest-detail button,
#guest-detail textarea { height: 30px; margin-top: 10px; margin-right: 2px;}
#guest-detail textarea {height: 74px; }
#guest-detail .form-group-title {margin: 20px 0 0 0; display: block;}
#room-availability .each-room-detail{ padding: 10px 0;}
#room-availability .each-room-detail input,
#room-availability .each-room-detail select,
#room-availability .each-room-detail button{height: unset;}
#room-availability #room-list .border-bottom:last-of-type {border-bottom: none; margin-bottom: 0; }
a.button.edit {
	padding: 3px 5px 3px 21px;
	background-size:14px;
	font-size: 12px;
}
a.button.expand, a.button.collapse {
	padding: 3px 5px 3px 21px;
	background-size:15px;
	font-size: 12px;
}
.show-more-room{
	text-align: center;
	padding: 5px;
	border: 1px solid #BCC3C3;
	display:none;
}
.show-more-room:hover{
	background-color: #FAFBFB;
	cursor: pointer;
}
#book-summary{
	/* width: 220px; */
	/* margin-left: 5px; */
	/* box-shadow: 2px 2px 10px #DDD; */
}
#book-summary > h3 {
	/* background-color: #168D94; */
	/* background-color: #87be47; */
	/* background-color: #742812; */
	/* color:#ffffff; */
	padding: 0;
	margin: 0;
}

#book-summary > h4 {   
	/* background: #d3d3d3; */
	margin: 0;
	padding: 5px;
}
#book-summary input.general-submit {
	width: 100%;
	height: 32px;
}
#book-summary > h2 {
	padding: 10px;
	margin-top: 0;
	/* background-color: #d3d3d3; */
}
#book-summary #book-summary-dtl {
	padding: 5px;
}
#book-summary #book-summary-dtl h2 span {
	color:#222 !important;
}
#book-summary #book-summary-dtl span.maintitle{
	font-weight:bold;
	line-height:20px;
	display: block;
	border-bottom: 1px solid #969696;
	padding-bottom: 4px;
	margin-bottom: 4px;
}
#book-summary #book-summary-dtl span.subtitle{
	display:block;
	text-align:left;
	line-height:20px;
}
#book-summary #book-summary-dtl span.subprice{
	display:block;
	text-align:right;
	line-height: 25px;
	font-weight: bold;
	color: #252525;
	font-size: 14px;
}
#book-summary #book-summary-dtl span.subextra{
	display:block;
	line-height:20px;
}
#room-availability .content-list li.title{
	/* background-color: rgb(147,94,159); */
	/*#168D94;*/
	/* background-color:#742812; */
	/* color:rgb(230,230,230); */
}

/** end-css from detail hotel**/
.color-red {
	color: #c22a25;
}

.btn-red {
    color: #fff;
    background-color: #c22a25;
	border-color: #c22a25;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
}
.btn-light-green {
    color: #fff;
    background-color: #92c01f;
	border-color: #92c01f;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
}
.btn-orange {
    color: #fff;
    background-color: darkorange;
    border-color: darkorange;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.btn-orange:hover {
    color: #c22a25;
    background-color: #fff;
}
.btn-red:hover {
    color: #c22a25;
    background-color: #fff;
}
.badge-red {
    color: #fff;
    background-color: #c22a25;
	border-color: #c22a25;
	font-weight: 200;
	font-family: 'Montserrat', sans-serif;
}

.thumbnailz{
	/* set the desired width/height and margin here */
	width: 100%;
	height: 100%;
	margin-right: 1px;
	
	position: relative;
	overflow: hidden;
	display: inline-block;
	}
	.thumbnailz img {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100% !important;
	width: auto !important;
	-webkit-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
}
.thumbnailz img.portrait {
	width: 100% !important;
	height: auto !important;
}
	


.thumbnailz.thumb-xl3 {height: 450px;}
.thumbnailz.thumb-xl2 {height: 400px;}
.thumbnailz.thumb-xl {height: 350px;}
.thumbnailz.thumb-lg {height: 300px;}
.thumbnailz.thumb-ml {height: 250px;}
.thumbnailz.thumb-md {height: 200px;}
.thumbnailz.thumb-sm {height: 150px;}
.thumbnailz.thumb-xs {height: 100px;}


.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #c22a25;
	border-color: #c22a25;
	color: #fff;
}
.pagination>li>a, .pagination>li>span { color: #c22a25; }
.pagination>li.disabled>a, .pagination>li.disabled>span { color: #888; }

.swiper-container{
	width: 100%;
	height: 100%;
	padding: 3px 0px !important;
  }
  .swiper-slide {
	text-align: center;
	font-size: 18px;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
  }




.text-float-container {
	  position: relative;
	  text-align: center;
}
.text-float-centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.card-wrapper{
	position: relative;
}
.card-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
	background: #c22a25;
}
.card-rounded{
	border-radius: 7px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
	box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
	-webkit-transition: all .3s cubic-bezier(.25,.8,.25,1);
	-o-transition: all .3s cubic-bezier(.25,.8,.25,1);
	transition: all .3s cubic-bezier(.25,.8,.25,1);
	overflow: hidden;
}
.card-v1 {
	/* margin: 10px 14px; */
	margin: 0;
	height: 280px!important;
	width: 200px!important;
	font-weight: 700;
	font-size: 20px;
	white-space: nowrap;
	background: #eee;
	color: #fff;
	text-shadow: 1px 1px 5px #000;
}
.card-v1 .card-title-container {
	width: 180px;
	display: block;
}

.card-v2 {
	/* margin: 10px 14px; */
	text-align: left;
	margin: 0;
	height: 390px!important;
	width: 400px!important;
	font-weight: 200;
	font-size: 14px;
	background: #fff;
	padding: 10px;
	font-family: 'Nunito', sans-serif;
}
.card-v2 .thumbnailz,
.card-v3 .thumbnailz {border-radius: 6px;}
.card-v2 .card-content{padding: 5px;}
.card-v2 .card-title-container{
	font-weight: 700;
}
.card-v2 p{
	letter-spacing: 1px;
    margin-bottom: 20px;

	overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
}
.card-v2 .card-label{
	text-overflow: ellipsis;
    white-space: nowrap;
	overflow: hidden;
	font-weight: bold;
}
.card-v2 .btn{margin-top: 20px; display: block;}

#sidebar .card-v2 {padding: 20px 10px; text-align: center;}
#sidebar .card-v2 p {margin-bottom: 10px; }
#sidebar .card-v2 .btn{margin-top: 10px;}

.card-button-prev,
.card-button-next{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	outline: none;
}
.card-button-prev{left: -30px;}
.card-button-next{right: -30px;}

.card-section-title{
	font-weight: 400;
    position: relative;
    font-size: 16px;
	padding: 20px 10px;
	/* margin-bottom: 15px; */
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
}
.card-section-title::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: #c22a25;
	width: 25%;
	height: 4px;
}

.card-v3 {padding: 10px; margin-bottom: 15px; position: relative;}
.card-v3 .img-link-wrapper{padding-left: 0;}
.card-v3 .img-link {display: block; height: 135px;}
.card-v3 .card-placeholder-1 {padding: 5px 15px 0 0;}
.card-v3 .card-placeholder-1 .hotel-address-wrapper {margin: 10px 0 0 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.card-v3 .card-placeholder-1 .fa,
.card-v3 .card-placeholder-2 .fa {width: 16px; text-align: center;}
.card-v3 .title {color: #000; font-size: 20px; font-weight: 700; margin-bottom: 10px;}
.card-v3 .card-placeholder-2 {padding: 5px 5px 5px 0; border-left: 1px solid #ddd; height: 135px; text-align: right;}
.card-v3 .btn{font-size: 12px;}
.card-v3 .listroom {padding-top: 15px;}
.card-v3 .listroom li {border-radius: 7px;}
.card-v3 a {text-decoration: none;}
.card-v3 .price .strikethrough-rate {margin: 0 0 5px 0;}
.card-v3 .price .rate {font-size: 22px; margin: 0 0 10px 0;}
.card-v3 .bottom-right {position: absolute; bottom: 5px; right: 5px;}

#why-booking-with-us .fa{
	font-size: 37px;
    color: #ffffff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #f8e407;
    line-height: 60px;
}
#why-booking-with-us .icon-title{
	font-weight: 700;
	font-size: 19px;
	padding: 19px 0px;
}
#why-booking-with-us p{
	letter-spacing: 2px;
    margin: 0;
    line-height: 1.9;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
}

#wrapper-links,
#wrapper-copyright{
	background-color: white;
	color: black;
}
#wrapper-links footer{ padding: 30px 0;}
#wrapper-links h3{margin: 30px 0 20px 0; font-weight: 700; font-size: 18px;}
#wrapper-links .img-brand {max-width: 100%; margin-top: 30px;}
#wrapper-links p{font-family: 'Nunito', sans-serif;padding: 30px 60px 0 0;line-height: 26px;}
#wrapper-links ul.list-unstyled li { margin-bottom: 8px; font-family: 'Nunito', sans-serif;}
#wrapper-links ul.list-unstyled li a{color: #000; opacity: 0.65; line-height: 24px; }
#wrapper-links ul.list-unstyled li a:hover{opacity: 1;}

#wrapper-links .icons-link a{color: #fff;}


#wrapper-copyright footer{ padding: 30px 0;}
#wrapper-copyright footer{border-top: 1px solid hsla(0,0%,100%,.1);}


@media all and (max-width: 1280px) {
	.navbar-brand .header-barlogo{padding: 0 40px;}
	.navbar-default .navbar-nav{ width: 80%; }

	#form-overlay{background:rgb(255, 255, 255, 0.3); width: 250px;}
	#form-overlay input, #form-overlay select{font-size: 18px; height: 26px; padding: 0 8px;}
	#form-overlay label{font-size: 12px; }
	#form-overlay .field_decor_div_2,
	#form-overlay .field_decor_div_2 .field_decor_span,
	#form-overlay .field_decor_div_3 {font-size: 5px;}
	#form-overlay .field_decor_div_2 .field_decor_hr{display: none;}
	#form-overlay .field_decor_div_2 .field_decor_span,
	#form-overlay .field_decor_div_3 .fa{visibility: hidden;}

	.text_decor_div {transform: translateY(-50%);}

	#room-availability #book-summary {border-top: 1px solid #ddd; padding-top: 15px; padding-bottom: 15px; background-color: #eee;}

}
@media all and (max-width: 980px) { 
	.navbar-brand .header-logo{padding: 0 30px;}
	.navbar-default .navbar-nav > li {font-size:14px;}
	.navbar-default .navbar-nav > li a {padding: 18px 8px 15px 8px;}

	#form-overlay {width: 100%; bottom: 10px; padding: 10px 0 0 0 ;}

	.section-wrapper{padding: 20px;} 
	.section-wrapper hr{margin-bottom: 20px;}
	/* .card-v2 {height: 410px!important;} */
	#why-booking-with-us .icon-wrapper{padding: 20px;}
	.text-sm-center{text-align: center;}
	#wrapper-links .img-brand{max-width: 40%;}
	#wrapper-links p{padding-right: 0;}

}
@media all and (max-width: 736px) {
/*	.navbar-default{border-radius:0 0 12px 12px;}
*/	.navbar-brand {float: none; display: block;}
	.navbar-brand .header-logo{padding: 0; height: 40px; margin: 0 auto; transform: translateX(50%);}
	.navbar-default .navbar-nav{ width: 100%; margin: 0; padding: 10px;}
	.navbar-default .navbar-nav > li {font-size:16px;}
	.navbar-default .navbar-nav > li a {padding: 0; line-height: 40px;}
	.navbar-default .navbar-nav>.active>a, 
	.navbar-default .navbar-nav>.active>a:focus, 
	.navbar-default .navbar-nav>.active>a:hover{
		border-bottom: none;
	}
	.navbar-default .navbar-nav > li a .menu-icon {width: 20px; margin-right:20px; text-align: center;font-size: 18px;vertical-align: middle;}
	header.main-header div.header-bar{border-radius: 20px;}

	#slider {margin-top: 60px;}
	#slider .carousel .container{position: unset;}
	#slider .carousel-inner > .item img{
		/* width: auto;
		height: 100%; */
		max-width: unset;
	}
	#slider .carousel-inner,
	#form-overlay {border-radius: 0 0 10px 10px; top: 0; bottom: unset;}
	#form-overlay { padding: 15px;}
	#form-overlay .form-group {margin: 10px 0; padding: 0;}
	#form-overlay .form-group.form-group-night,
	#form-overlay .form-group.form-group-adult{padding-left: 15px;}
	#form-overlay input, 
	#form-overlay select{height:30px;font-size: 18px;line-height: 20px;}
	#form-overlay label{text-transform: capitalize;}

	#wrapper-links #footer-contact-us{padding: 20px 0 30px 0;}
	#wrapper-links #footer-contact-us i.fa,
	#wrapper-links #footer-contact-us i.fab{
		display: inline-block;
		border-radius: 50%;
		border: 1px solid #fff;
		padding: 12px;
	}

	#pgsch, #pgdtl {padding: 85px 15px 15px 15px;}
	#search #div-check-in {padding-right: 15px;} 
	#search #div-promo-code {padding: 0px;}
	#filters #q-hotelname-wrapper #submit-hotelname {width: 100%;} 

	#sortbar > ul > li{margin: 0 5px 10px 0;}
	/* .card-v3 .img-link-wrapper{padding: 0;} */
	.card-v3 .title {font-size: 16px;}
	.card-v3 .card-placeholder-2{text-align: left; border-left: none; height: auto;}
	.card-v3 .img-link {height: 115px;}

	#hotel-info .fl_left,
	#hotel-info .fl_right{float: none;}
	#hotel-info .btn,
	#room-availability .wrapper-dates .btn{display: block;}
	#room-availability .wrapper-dates{text-align: center;}
	#room-availability #availability-hotel .inline-block{margin-top: 10px;}
	#room-availability .pict{width: 100%; float: none; height: 200px;}

	.border-right{border-right: unset;}

}
@media all and (max-width: 480px) {

}


/* patch popup */
.nyroModalBg{z-index: 10001;}
.nyroModalCont{z-index: 10002;}