/* CSS Document */
@font-face {
    font-family: "Lucida Grande";
    src: url('fonts/ufonts.com_lucida_grande.eot');
    src: url('fonts/ufonts.com_lucida_grande.eot?#iefix') format('embedded-opentype'),
         url('fonts/ufonts.com_lucida-grande.woff') format('woff'),
         url('fonts/ufonts.com_lucida-grande.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto Regular";
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family:'Glyphicons Halflings';
    src:url(fonts/glyphicons-halflings-regular.eot);
    src:url(fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),
    url(fonts/glyphicons-halflings-regular.woff) format('woff'),
    url(fonts/glyphicons-halflings-regular.ttf) format('truetype'),
    url(fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}
@font-face{
    font-family:'Open Sans';
    src:url(fonts/open-sans/OpenSans-Regular.eot) format('truetype');
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url(fonts/helvetica-neue/HelveticaNeue-Light.eot);
	src: url(fonts/helvetica-neue/HelveticaNeue-Light.eot?#iefix) format('embedded-opentype'),
		url(fonts/helvetica-neue/HelveticaNeue-Light.woff) format('woff'),
		url(fonts/helvetica-neue/HelveticaNeue-Light.ttf) format('truetype');
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue LT Std';
	src: url('fonts/helvetica-neue-lt-std/HelveticaNeueLTStd-Cn.eot');
	src: url('fonts/helvetica-neue-lt-std/HelveticaNeueLTStd-Cn.eot?#iefix') format('embedded-opentype'),
		url('fonts/helvetica-neue-lt-std/HelveticaNeueLTStd-Cn.woff') format('woff'),
		url('fonts/helvetica-neue-lt-std/HelveticaNeueLTStd-Cn.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Proxima Nova';
	src: url('fonts/proxima-nova/ProximaNova-Regular.eot');
	src: url('fonts/proxima-nova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/proxima-nova/ProximaNova-Regular.woff') format('woff'),
		url('fonts/proxima-nova/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


body{
    /*font-family: "Open Sans", "Lucida Grande", Tahoma, Helvetica, Arial, sans-serif;
    font-size: 15px;*/
    margin: 0;
    padding: 0;
    font-family: "Proxima Nova","Helvetica Neue LT Std",Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #edeef2;
}
a, button{
	text-decoration: none;
    cursor: pointer;
}
body.dark-background{
    background-color: #1F2036;
}
input, select, textarea, button{
  font-family: "Proxima Nova","Open Sans", "Lucida Grande", Tahoma, Helvetica, Arial, sans-serif;
}
select{
  text-transform: capitalize;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}
label{
	font-weight:bold;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit !important;
}
.dark-background #header{
    position: relative;
    background-color: #EEEEEE;
    box-shadow: 0 1px 5px rgba(0,0,0,.3);
}
.dark-background #footer{
    margin-top: 10px;
    padding-top: 10px;
}
.wrap{
    width: 1032px;
    margin: 0 auto;
}
#copyright{
    font-family: "Lucida Grande", Tahoma, Helvetica, Arial, sans-serif;
    font-size: 11px;
    color: #BBBBBB;
    text-align: center;
}
#logoimg{
    height: 65px;
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
}
#logotext{
    display: inline-block;
    font-size: 29px;
    vertical-align: middle;
    color: #197E87;
    text-shadow: 0px 1px 1px #91BEBE;
}
#container{
    background-color: #FCFCFC;
}
#content{
    padding: 50px 10px;
    color: #444;
}
.side-left{
    float: left;
    /*width: 15%;*/
}
.side-right{
    float: right;
    /*width: 50%;*/
}
.clear{clear: both;}
.center, .text-center{text-align: center;}
.this-inline-block {display: inline-block; margin: 0 10px; vertical-align: top;}

content h1, content h2, content h3 {
    font-weight: 300;
    letter-spacing: -0.01em;
    line-height: 48px;
    margin: 0;
}
content h1{
    font-size: 28px;
    color: #C67E9F;
}
.panel-summary{
    line-height: 25px;
}
.panel-summary a{
    color: #536DFE;
}
#loginform{
    width: 300px;
    display: inline-block;
    background: rgba(233, 233, 255, 0.2);
    border-radius: 10px;
    text-align: center;
    padding-bottom: 10px;
}
#loginform h2{
    /*padding: 5px 10px;
    font-size: 26px;*/
}
.textbox{
    display: inline-block;
    width: 255px;
    height: 25px;
    padding: 6px 12px;
    font-size: 15px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group {margin-bottom: 15px;}
.form-group:last-of-type{margin-bottom: 0;}
.form-group input,
.form-group select{margin-right: 10px;}
/*.form-group label:first-of-type {margin-left: 0;}*/

.bt-submit{
    border-radius: 3px;
    border: 1px solid transparent;
    color: #fff;
    background-color: #6db851;
    border-color: #95c851;
    display: inline-block;
    padding: 6px 12px;
    font-size: 15px;
    cursor: pointer;
    width: 279px;
    height: 35px;
}
.bt-submit:hover{
    background-color: #95c851;
}
.alert-danger{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 5px 0;
    font-size: 12px;
}
.font-small{
    font-size: 13px;
}

/**2016-03-10**/
.login{
	background:url(../images/bg-3.jpg) top center;
  background-size: cover;
}
.login #container{
	position:absolute;
	width:100%;
	background:none;
}
.login .relative{
	position:relative;
}
.login .left{
	float:left;
}
.login #loginform{
	display:block;
	margin:30px auto 0;
	background-color: rgba(255, 255, 255, 0.85);
    width: 400px;
    border-radius: 5px;
	padding: 15px;
}
.login #header{
	padding:20px;
}
.login #header .left ul, .login .main-logo{
	float:left;
}
.login #header .left a{
	color:#fff;
}
.login #header .left ul{
	margin:0;
	padding:0;
	list-style:none;
}
.login #header .left ul li {
    margin-top: 15px;
    padding: 10px 20px;
    letter-spacing: 1px;
    font-size: 14px;
}
.login .main-logo img{
	height:64px;
}
.login .login-title span {
    display: block;
    font-size: 120%;
    padding-bottom: 10px;
}
.login .login-title {
    text-align: center;
    color: #fff;
}
.login .login-title span.heading {
    font-size: 285%;
    font-weight: 600;
    /*text-shadow: 2px 2px 3px #464646;*/
    text-shadow: 2px 2px 3px #000;
}
.login input.bt-submit {
    background-color: #337ab7;
	text-transform:uppercase;
	letter-spacing:1px;
  color: #fff;
}
.login input.bt-submit:hover {
    background-color: #286090;
}
.login #loginform h2 {
    /*padding-top: 15px;*/
    margin: 0 0 5px 0;
    font-size: 19px;
}
.login #loginform label.checkbox {
    font-size: 13px;
    font-weight: normal;
}
.login #loginform label.checkbox {
    font-size: 13px;
    font-weight: normal;
    vertical-align: text-bottom;
}
.login a{
	color:#0d638f;
}
.login .textbox{
	width: 260px !important;
    padding: 4px 10px;
	outline: 0;
}
.login .textbox.error, .login .textbox.error:focus {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.login .form-group{
	position:relative;
}
.login label.error {
    font-size: 80%;
    font-weight: normal;
    position: absolute;
    top: 10px;
    background-color: #fff;
    padding: 5px;
    max-width: 150px;
    text-align: left;
    right: 0;
    border: 1px solid #EC971F;
    z-index: 100;
    color: #A16208;
    border-radius: 5px;
    background-color: #FFF9F9;
}
.login a.close {
    position: absolute;
    right: 2px;
    top: 2px;
    width: 24px;
    height: 24px;
}
.login p{
	line-height: 1.428571429;
}
/*****/

/* ------------------------------------------------------------------ */
#xheader{
    /* height: 60px; */
    /* background-color: #C52D2F;308e2e */
    background-color: #288626;
	color:#fff;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
	/*margin-bottom:3px;*/
}
#xheader div#logo{
    padding: 0 20px 0 15px;
	display:block;
	float:left;
	text-align:center;
	overflow:hidden;
}
#xheader div#logo img{
	width:auto;
	height:100%;
}

#xcontainer{
    clear: both;
	font-size: 14px;
}
#xcontent{
	/*background-color: #3a3a3a;*/
  /*background-color: #C52D2F;*/
}

/* ------------------------------------------------------------------- */
.menu-side {
    /* top: 50px; */
    /* position: absolute; */
    width: 100%;
    display: block;
	  /*background-color: #333333;*/
    /*background-color: #C52D2F;*/
    /*box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);*/
    min-height: 0 !important;
    padding-left: 20px;
    box-sizing: border-box;
}
.parent {
  /*margin-bottom: 5px;
	padding-top:35px;
	padding-bottom:20px;*/
  /*box-shadow: 0px 1px 0px #444;*/
  /* background-color: #C52D2F; */
}
.user-panel {
    padding: 10px;
}
.user-panel > .image > img {
    width: 45px;
    height: 45px;
    border: 1px solid #dfdfdf;
    vertical-align: middle;
}
.img-circle {
    border-radius: 50%;
}
.user-panel > .info {
	padding: 5px 5px 5px 15px;
	font-size: 13px;
	line-height: 1;
}
.user-panel p {
	margin: 0 0 10px;
}
.user-panel > .info > p {
	margin-bottom: 9px;
}
.user-panel > .info > a {
	text-decoration: none;
	padding-right: 5px;
	margin-top: 3px;
	font-size: 11px;
	font-weight: normal;
	color: #555555;
}
.fa {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.text-success {
	color: #3c763d;
}
.user-panel > .info > a > .fa{
	margin-right: 3px;
}
.parent .parent-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}
.user-panel:before, .user-panel:after {
	display: table;
	content: " ";
}
.user-panel:after {
	clear: both;
}
.parent .parent-menu > li {
	margin: 0;
	padding: 0;
}
.parent > .parent-menu > li:first-of-type {

}
.parent > .parent-menu > li {
	font-size:1em;
  /* border-top: 1px solid rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.05); */
  /* text-shadow: 0 1px 0 rgba(0,0,0,0.5); */
  display: inline-block;
  position: relative;
}

/* .parent > .parent-menu > li.active::after {
    content: "";
    position: absolute;


    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #f5f5f5;
    margin-left: 5%;
    margin-top: -5px;
} */



/* .navbar .nav a, */
.navbar-left #pagename,
.parent .parent-menu > li > a {
     /* text-shadow: 1px 1px 2px #333;  */
    /* text-shadow: 1px 1px 1px #000, 3px 3px 2px rgba(0,0,0,0.15); */
}

.parent a {
	color: #555555;
}
.parent .parent-menu > li > a > .fa {
	font-size:1.1em !important;
	width:16px !important;
	text-align: center;
	vertical-align: middle;
}
.parent .parent-menu > li > a > .fa.pull-right, .parent-menu li>a>.fa-angle-left{
    width: 20px!important;
    font-size:1em!important;
    line-height: 27px;
    display: none;
}

.parent .parent-menu > li > a > span {
    vertical-align: middle;
    margin-left: 7px;
    position: relative;
}
/* .parent .parent-menu > li.treeview.active::after{ */
.parent .parent-menu > li.treeview.active::after{
    content: "";
    position: absolute;

    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #edeef2;
    left: 50%;
    bottom: 0;
}

.parent-menu > li > a ,
.treeview-menu > li > a {
    letter-spacing: -0.01em;
    text-decoration: none;
}

.treeview-menu, .treeview-menu .treeview-menu-child {
	display: none;
	list-style: none;
	padding: 0;
    margin: 0;
    background-color: #F5F6F7 !important;
    /* position: absolute; */
    width: 100%;
    left: 0;
    padding-left: 10px;
    /* box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2); */
    box-sizing: border-box;
}

.treeview-menu.floating {
    position: absolute;
    z-index: 9999;
    padding: 0 10px;
    width: max-content;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2);
    background-color: rgba(255, 255, 255, 0.95) !important;
    margin-top: -5px;
    border: 1px solid #ccc;
}
.treeview-menu.floating::before{
    content: "";
    position: absolute;

    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(255, 255, 255, 0.95);
    left: 10px;
    top: -7px;
}
.treeview-menu.floating > li {
    display: block;
}
.treeview-menu.floating > li > a {
    margin: 5px 3px;
    padding: 5px 8px;
    border-radius: 0px;
    border-bottom: 1px solid rgba(102, 102, 102, 0.25);
}
.treeview-menu.floating > li:last-of-type > a {
    border-bottom: none;
}
.treeview-menu.floating > li.active > a{
    color: #666;
    background-color: transparent;
}
.treeview-menu.floating > li > a:hover {
    color: #C52D2F;
    background-color: transparent;
}


.parent > .parent-menu > li:hover > a,
.parent > .parent-menu > li.active > a {
    color: #fff;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    /* text-shadow: 1px 1px 1px #000, 3px 3px 2px rgba(0,0,0,0.15); */
}
.parent .parent-menu > li > a {
	padding: 10px 10px;
	display: block;
    color:rgba( 255, 255, 255, .8 );
    /* border-left: 5px solid transparent; */
}

.skin-blue .parent > .parent-menu > li > .treeview-menu {
	margin: 0 1px;
	background: #f9f9f9;
}
.treeview-menu > li {
	margin: 0;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.05);
  /* text-shadow: 0 1px 0 rgba(0,0,0,0.5); */
  display: inline-block;
}
.treeview-menu .treeview-menu-child > li {
    border-top: 1px solid rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.05);
    /* text-shadow: 0 1px 0 rgba(0,0,0,0.5); */
}
.treeview-menu > li > a,
.treeview-menu-child > li > a {
	display: block;
	color:#666;
    margin: 10px 3px;
    padding: 7px 8px;
    border-radius: 7px;
	position: relative;
}
.treeview-menu > li.active > a, .treeview-menu > li > a:hover,
.treeview-menu-child > li.active > a, .treeview-menu-child > li > a:hover  {
     background: #C52D2F;
     color: #fff;
}
.treeview-menu > li > a {

}
.treeview-menu > li > a > .fa{
   padding-right: 5px;
   width: 18px;
   text-align: center;
}
.treeview-menu > li > a > .fa.pull-right {
    right: 5px;
    left: auto !important;
}
.treeview-menu-child > li > a > .fa {
	width: 20px;
	left: 20px;
}
.treeview-menu > li > a > .fa.pull-right {
    width: 20px;
    height: 20px;
    text-align: center;
}

/* ------------------------------------------------------------------- */
.content-side {
	/* margin-left: 220px; */
	display: block;
  background-color: #edeef2;
  /* margin-top: 50px; */
}
.content-side > .content-header {
	position: relative;
	padding: 15px 15px 10px 20px;
}
.content-side > .content-header {
	background: #fbfbfb;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	display:none;
}
.content-side > .content-header > h1 {
	margin: 0;
	font-size: 21px;
	font-weight: normal;
}
.content-side > .content-header > h1 > small {
	font-size: 13px;
	display: inline-block;
	padding-left: 4px;
}
.content-side > .content-header > .breadcrumb {
	float: right;
	background: transparent;
	margin-top: 0px;
	margin-bottom: 0;
	font-size: 12px;
	padding: 7px 5px;
	position: absolute;
	top: 15px;
	right: 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	list-style: none;
}
.breadcrumb > li {
	display: inline-block;
}
.content-side > .content-header > .breadcrumb > li > a {
	color: #444;
	text-decoration: none;
}
.content-side > .content-header > .breadcrumb > li > a > .fa {
	margin-right: 5px;
}
.breadcrumb > .active {
	color: #999;
}
.content-side > .content-header > .breadcrumb > li + li:before {
	content: '>\00a0';
	padding: 0 5px;
	color: #ccc;
}

/*********************************************************/
.navbar {
    position: relative;
    height: 50px;
    /* margin-left: 220px; */
    /*font-size: 13px;*/
    background-color: #C52D2F;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2);
    margin-bottom: 0px !important;
}
.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
}
.navbar-left {
    float: left;
    height: 50px;
    overflow: hidden;
    /*border-left: 5px solid #5d9cec;*/
}
.navbar-left #pagename {
    margin: 0;
    line-height: 50px;
    padding-left: 20px;
    color: #FAFBFF;
    /*color: #C52D2F;*/
    font-weight: 500;
    font-size: 22px;
    /* display: none; */
}
.navbar-right {
    float: right!important;
}
.nav {
    padding-left: 0;
    list-style: none;
}
.navbar-nav {
    float: left;
    margin: 0;
}
.navbar .navbar-right > .nav {
    margin-right: 10px;
}
.nav>li {
    position: relative;
    display: block;
}
.navbar-nav>li {
    float: left;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
}
.navbar .nav a {
    color: #fff;
    /*color: #C52D2F;*/
}
.navbar .nav > li.user > a {
    /*font-weight: bold;*/
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:active,
.navbar .nav > li > a:focus,
.navbar .nav .open > a,
.navbar .nav .open > a:hover,
.navbar .nav .open > a:focus {
    background: #1F8581;
    color: #ffffff;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.navbar-right .dropdown-menu {
    right: 0;
    left: auto;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.navbar-nav > .user-menu > .dropdown-menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 1px 0 0 0;
    border-top-width: 0;
    width: 280px;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
}
.glyphicon-user:before {
    content: "\e008";
}
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.bg-light-blue {
    background-color: #5d9cec !important;
    color: #f9f9f9 !important;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: 165px;
    padding: 10px;
    background: #5d9cec;
    text-align: center;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
    z-index: 5;
    height: 90px;
    width: 90px;
    border: 8px solid;
    border-color: transparent;
    border-color: rgba(255, 255, 255, 0.2);
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
    z-index: 5;
    color: #f9f9f9;
    /*color: rgba(255, 255, 255, 0.8);*/
    font-size: 15px;
    /*text-shadow: 2px 2px 3px #333333;*/
    margin-top: 10px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p > small {
    display: block;
    font-size: 12px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer {
    background-color: #f9f9f9;
    padding: 10px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer:before, .navbar-nav > .user-menu > .dropdown-menu > li.user-footer:after {
    display: table;
    content: " ";
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer:after {
    clear: both;
}
.btn {
    display: inline-block;
    padding: 6px 9px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn {
    font-weight: 500;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid transparent;
    -webkit-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.09);
}
.btn.btn-default {
    background-color: #fafafa;
    color: #666;
    border-color: #ddd;
    border-bottom-color: #ddd;
}
.btn.btn-default:hover,
.btn.btn-default:active,
.btn.btn-default.hover {
    background-color: #f4f4f4!important;
}
.btn.btn-flat {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width: 1px;
}
.btn.btn-default.btn-flat {
    border-bottom-color: #d9dadc;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer .btn-default {
    color: #666666;
}

/****************************************************************/
.content-side > .content{
    padding: 20px;
    /*border: 10px solid #e4e4e4;*/
}
.box {
    position: relative;
    margin-bottom: 20px;
    padding:20px;
    /*-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;*/
    width: 100%;
    background: #ffffff;
    /*border: 1px solid #dddddd;*/
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2);
    box-sizing:border-box;
}
.box-form{
    /*border-color: #1f96d0;*/
}
.table{
    width:100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.table-bordered > tbody > tr > td{
    border: 1px solid #ddd;
    padding:1px 5px;
}
.table-bordered > tbody > tr:first-child > td{
    text-align:center;
    vertical-align:middle;
    padding:8px 0;

    background-color: #5fbeaa;
    color: #fff;
}
.table-bordered > tbody > tr > td > img.thumbnail{
    border: 1px solid #ddd;
    width:75px;
	height:50px;
	margin:5px;
}
.algn-left{ text-align:left; }
.algn-right{ text-align:right; }
.algn-center{ text-align:center; }

.color-magenta {color:#c30059;}

	.pure-button{
		padding: 10px 15px;
		color: #FFF;
		border-radius: 4px;
		border: 1px solid transparent;
		/*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);*/
		margin: 3px 2px;



	}
	.pure-button > i.fa, .small-button > i.fa{
		margin-right:7px;
	}
	.pure-button.single > i.fa{
		font-size:16px;
		margin:0;
	}

	.pure-button.blue, .small-button.blue{
		/*background-color: #337ab7;*/
    /*border: 1px solid #204d74;*/
    background-color: #5d9cec;
	}
	.pure-button.blue:hover, .small-button.blue:hover{
		/*background-color:#286090;*/
    /*background-color: #5d9cec;*/
    background-color: #fff;
    color: #5d9cec;
    border-color: #5d9cec;
	}
	.pure-button.green, .small-button.green{
		background-color:#5fbeaa;
	}
	.pure-button.green:hover, .small-button.green:hover{
    background-color: #fff;
    color: #5fbeaa;
    border-color: #5fbeaa;
	}
  /*
  #ff8761
  #57bdde
  #b198dc
  #6dc7be
  */
	.pure-button.red, .small-button.red{
		background-color:#E02726;
	}
	.pure-button.red:hover, .small-button.red:hover{
		background-color:#fff;
        color: #E02726;
        border-color: #E02726;
    }
    .pure-button.soft-red, .small-button.soft-red{
		background-color:#d95459;
	}
	.pure-button.soft-red:hover, .small-button.soft-red:hover{
		background-color:#fff;
        color: #d95459;
        border-color: #d95459;
    }
    .pure-button.purple, .small-button.purple{
        background-color:#b198dc;
    }
    .pure-button.purple:hover, .small-button.purple:hover{
        background-color:#fff;
        color: #b198dc;
        border-color: #b198dc;
    }
	.pure-button.magenta, .small-button.magenta{
		background-color:#E10989;
	}
	.pure-button.magenta:hover, .small-button.magenta:hover{
		background-color:#F57ABA;
	}
	.pure-button.orange, .small-button.orange{
		background-color:#F59226;
	}
	.pure-button.orange:hover, .small-button.orange:hover{
        color:#F59226;
        background-color:#fff;
        border-color:#F59226;
    }
    .pure-button.grey, .small-button.grey{
		background-color:#777;
	}
	.pure-button.grey:hover, .small-button.grey:hover{
        color:#777;
        background-color:#fff;
	}


	.small-button, .blue-button{
		/*padding: 8px 12px;
		margin-bottom:5px;
		color: #FFF;
		border-radius: 4px;
		border: 0 rgba(0,0,0,0);
		margin-right:10px;*/


    color: #ffffff;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-transform: capitalize;
	}

	.mg-top-15{
		margin-top:15px;
	}

.add-button{
    /*background: url(../images/add.png) no-repeat;*/
    /*background-position:5px;*/
    background-color: #6db851; /* this is a light blue */
	/*padding-left: 30px;*/
}
.add-button:before{
  /*Font Awesome*/
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  text-rendering: auto;
  vertical-align: top;

  margin-right: 10px;
  content: "\f055"; color: #fff;

}
.add-button:hover:before{
  color: #5d9cec;
}
.find-button{
    background: url(../images/search.png) no-repeat;
    background-position:5px;
    background-color: rgb(34, 131, 161); /* this is a light blue */
}
.action-button{
    border:none;
    height:21px;
    width:21px;
    cursor:pointer;
}
.action-button.edit-button{
    /*background: url(../images/edit.png) no-repeat;*/
    /*background-position:5px;*/
    background-color: #5fbeaa;
    border-radius: 50%;
    margin: 3px;
}
.action-button.edit-button:before{
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  text-rendering: auto;
  vertical-align: top;

  margin-right: 10px;
  content: "\f040"; color: #fff;
}
.delete-button{
    /*background: url(../images/delete.png) no-repeat;*/
    /*background-position:5px;*/
}
.box > h1{
    margin-bottom:10px;
}

.form-input label{ display:block; }
.form-input .input-text, .form-input .input-select, .form-input textarea{
    height: 25px;
    padding: 2px 12px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    /*border-radius: 4px;*/
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	box-sizing:border-box;
}
.form-input .input-select, .form-input .input-text{
    height:28px;
}
.form-input textarea{
	height:50px;
}
.form-input button, .default-button {
    /* -webkit-transition: all 0s ease-out; */
    -moz-transition: all 0s ease-out;
    -o-transition: all 0s ease-out;
    -ms-transition: all 0s ease-out;
    /* transition: all 0s ease-out; */
    /* height: 30px; */
    color: #fff;
    text-decoration: none;
    text-align: center;
    /* text-shadow: 0px -1px 0px rgba(0,0,0,0.4); */
    padding: 8px 12px;
    margin: 5px 0;
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    /* text-transform:uppercase; */
    background-color: #5d9cec;
   	border: 1px solid transparent;
    /* -webkit-box-shadow: 0px 5px 0px 0px #a3316f; */
    /* box-shadow: 0px 5px 0px 0px #a3316f; */
}
.form-input button:active, .default-button:active{
    /* top: 3px; */
    /* -webkit-box-shadow: 0px 2px 0px 0px #a3316f; */
    /* box-shadow: 0px 2px 0px 0px #a3316f; */
}
.form-input button:hover, .default-button:hover{
    background-color: #fff;
    border-color: #5d9cec;
    color: #5d9cec;
}

ul.inline, ul.inline-half, ul.inline-block, ul.block, ul.inline-triple, ul.inline-four {
	list-style-type:none;
	padding:0;
  margin: 0;
}
ul.inline > li, ul.block > li {
  display:block;
}

ul.inline-half > li, ul.inline-block > li, ul.inline-triple > li, ul.inline-four > li {
  display: inline-block;
  vertical-align:top;
}

ul.inline > li{
	margin:5px 0;
}

ul.inline-half > li{
    margin: 5px 10px 5px 0;
    width: 48%;
    /*float: left;*/
}

ul.inline-triple > li{
	margin:5px 0;
	width:33%;
}
ul.inline-four > li{
  vertical-align:top;
	margin:5px 0;
	width:25%;
}

ul.inline-block > li{
	margin:0;
}

ul.block > li {
	margin:10px 0;
}

.hide{ display:none!important; }

.unbordered{
	border:none!important;
	-webkit-appearance: none!important;
    -moz-appearance: none!important;
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
	webkit-transition: none!important;
	transition: none!important;

}

#maps .side-left,  #rooms .side-left{ width:30%; }
#maps .side-right,  #rooms .side-textarea { width:70%; }
#basic-info .side-left, #basic-info .side-right{ width:50%; float: left;}
#basic-info input[type=text], #basic-info textarea, #basic-info .input-select,  #rooms textarea { width:80%; }
#promotion ul.inline-triple > li {
  border: 1px solid #CDCDCD;
  background-color: #FAFAFA;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  width: 32.465%;
}
/*#promotion ul.inline-triple > li:nth-of-type(1) {background-color: #ECE5CE;}*/
/*#promotion ul.inline-triple > li:nth-of-type(2) {background-color: #EFFAB4;}*/
#promotion ul.inline-triple > li:nth-of-type(3) {/*background-color: #C5E0DC;*/ margin-right: 0;}

#promotion ul.block > li {
  margin: 0 0 10px 0;
}
#headline-detail ul.inline-triple > li img{
  vertical-align: middle;
}

#detail-booking > div {margin-bottom: 25px;}
#detail-booking .side-left {width:  40%; margin-right: 10px; box-sizing: border-box;}
#detail-booking .side-left table > tbody > tr > td:nth-of-type(1) {width: 80px;}
/*#detail-booking .side-left table > tbody > tr > td:nth-of-type(2) {width: 250px;}*/
#detail-booking .side-right {width: 58.25%;}
#detail-booking .side-right > div {margin: 0 0 10px 0; text-align: right;}
#detail-booking table > tbody > tr > td {
  border: 1px solid #ddd;
  padding: 5px 10px !important;
}
#detail-booking-table > tbody > tr > td:nth-of-type(2) {width: 200px;}
#detail-booking-table > tbody > tr > td:nth-of-type(4) {width: 110px;}
#detail-booking-table > tbody > tr > td:nth-of-type(7) {width: 110px;}
#detail-booking table.ch-table > tbody > tr > td:first-of-type {width: 120px;}
#detail-booking table.ch-table > tbody > tr > td:nth-of-type(2) {width: 140px;}

.capitalize{ text-transform:capitalize; }

#accor-photos ul.inline-block li{
	border:1px solid #ddd;
	/*-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;*/
	padding:10px;
  background-color: #fff;
}

#accor-photos ul.inline-block li img.thumbnail{
	width:160px;
	height:120px;
}

.form-group table tr td{
	border-spacing:0;
	padding: 2px 5px;
}
.form-group input, .form-group select, .fill-table input, .fill-table select
,input,select{
	/*border:1px solid #C9C9C9;
	padding:2px 3px;*/

  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

}
.form-group input[type=text]{
	width:115px;
}
.form-group input[type=text].small, .form-group input[type=number].small{
	width:30px;
}

/*-----------------------------------------------------------------------------------------*/

.table-fill tr:first-child td{
	background-color:#fff;
	color:#666666;
	font-weight:bold;
  border-bottom: 2px solid #ebeff2;
}
.table-fill tr:nth-child(even){
	background-color: #f4f8fb;
}
.table-fill-centered tr td{
	text-align:center;
}
.table-fill tr{border-bottom:1px solid #ebeff2;}
.table-fill tr td{
  padding: 5px 3px;
  line-height: 1.42857143;
}
.table-fill input[type=text]{
	width:65px;
}
.table-fill input[type=text].short{
	width:25px;
}
.table-fill input[type=text].medium{
	width:200px;
}
.blue-button {
  /*-moz-box-shadow:inset 0px 1px 0px 0px #95c851;
	-webkit-box-shadow:inset 0px 1px 0px 0px #95c851;
	box-shadow:inset 0px 1px 0px 0px #95c851;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #95c851), color-stop(1, #FFB838));
	background:-moz-linear-gradient(top, #95c851 5%, #FFB838 100%);
	background:-webkit-linear-gradient(top, #95c851 5%, #FFB838 100%);
	background:-o-linear-gradient(top, #95c851 5%, #FFB838 100%);
	background:-ms-linear-gradient(top, #95c851 5%, #FFB838 100%);
	background:linear-gradient(to bottom, #95c851 5%, #FFB838 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#95c851', endColorstr='#FFB838',GradientType=0);
	background-color:#95c851;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #E89506;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	padding:4px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #F99F20;*/

  background-color: #5d9cec;
  text-transform: capitalize;
}
.blue-button:hover {
	/*background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6DDB40), color-stop(1, #6DDB40));
	background:-moz-linear-gradient(top, #95c851 5%, #FFB838 100%);
	background:-webkit-linear-gradient(top, #95c851 5%, #FFB838 100%);
	background:-o-linear-gradient(top, #95c851 5%, #FFB838 100%);
	background:-ms-linear-gradient(top, #95c851 5%, #FFB838 100%);
	background:linear-gradient(to bottom, #95c851 5%, #FFB838 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6DDB40', endColorstr='#6DDB40',GradientType=0);
	background-color:#6DDB40;*/

  background-color: #fff;
  color: #5d9cec;
  border: 1px solid #5d9cec;
}
.blue-button:active {
	position:relative;
	top:1px;
}


.loader {
  font-size: 50px;
  text-indent: -9999em;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0.8em auto;
  position: relative;
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #6db851, -0.11em -0.83em 0 -0.42em #6db851, -0.11em -0.83em 0 -0.44em #6db851, -0.11em -0.83em 0 -0.46em #6db851, -0.11em -0.83em 0 -0.477em #6db851;
  }
  5%,
  95% {
    box-shadow: -0.11em -0.83em 0 -0.4em #6db851, -0.11em -0.83em 0 -0.42em #6db851, -0.11em -0.83em 0 -0.44em #6db851, -0.11em -0.83em 0 -0.46em #6db851, -0.11em -0.83em 0 -0.477em #6db851;
  }
  30% {
    box-shadow: -0.11em -0.83em 0 -0.4em #6db851, -0.51em -0.66em 0 -0.42em #6db851, -0.75em -0.36em 0 -0.44em #6db851, -0.83em -0.03em 0 -0.46em #6db851, -0.81em 0.21em 0 -0.477em #6db851;
  }
  55% {
    box-shadow: -0.11em -0.83em 0 -0.4em #6db851, -0.29em -0.78em 0 -0.42em #6db851, -0.43em -0.72em 0 -0.44em #6db851, -0.52em -0.65em 0 -0.46em #6db851, -0.57em -0.61em 0 -0.477em #6db851;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #6db851, -0.11em -0.83em 0 -0.42em #6db851, -0.11em -0.83em 0 -0.44em #6db851, -0.11em -0.83em 0 -0.46em #6db851, -0.11em -0.83em 0 -0.477em #6db851;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #6db851, -0.11em -0.83em 0 -0.42em #6db851, -0.11em -0.83em 0 -0.44em #6db851, -0.11em -0.83em 0 -0.46em #6db851, -0.11em -0.83em 0 -0.477em #6db851;
  }
  5%,
  95% {
    box-shadow: -0.11em -0.83em 0 -0.4em #6db851, -0.11em -0.83em 0 -0.42em #6db851, -0.11em -0.83em 0 -0.44em #6db851, -0.11em -0.83em 0 -0.46em #6db851, -0.11em -0.83em 0 -0.477em #6db851;
  }
  30% {
    box-shadow: -0.11em -0.83em 0 -0.4em #6db851, -0.51em -0.66em 0 -0.42em #6db851, -0.75em -0.36em 0 -0.44em #6db851, -0.83em -0.03em 0 -0.46em #6db851, -0.81em 0.21em 0 -0.477em #6db851;
  }
  55% {
    box-shadow: -0.11em -0.83em 0 -0.4em #6db851, -0.29em -0.78em 0 -0.42em #6db851, -0.43em -0.72em 0 -0.44em #6db851, -0.52em -0.65em 0 -0.46em #6db851, -0.57em -0.61em 0 -0.477em #6db851;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #6db851, -0.11em -0.83em 0 -0.42em #6db851, -0.11em -0.83em 0 -0.44em #6db851, -0.11em -0.83em 0 -0.46em #6db851, -0.11em -0.83em 0 -0.477em #6db851;
  }
}

.box-form h1,
.form-box h3{
  /*color: #5d9cec; */
  margin-top: 20px !important; padding-top: 20px; border-top: 2px solid #ebeff2;}
.box-form h1:first-of-type,
.form-box h3:first-of-type{margin-top: 0 !important; padding-top: 0; border-top: none;}
.form-box span.label{ width:150px; display:inline-block }
.form-box input[type=text], .form-box input[type=number], .form-box input[type=time], .form-box select, .form-box textarea{

    /*height: 25px;
    padding: 2px 12px;
    font-size: 12px;
    line-height: 1.428571429;*/

    color: #555;
    vertical-align: top;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	  box-sizing:border-box;

    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;

    /*padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
}

.form-box input[type=text].long{ width:350px; }
.form-box input[type=text].medium{ width:150px; }
.form-box input[type=text].small, .form-box input[type=number].small{ width:75px; }
.form-box input[type=text].smaller, .form-box input[type=number].smaller{ width:35px; }
.form-box textarea{ width:350px; height:50px; }

dt{
    min-height: 25px;
    padding: 2px 12px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	box-sizing:border-box;
}

.dropdown dd, .dropdown dt {
    margin:0px;
    padding:0px;
}
.dropdown ul { margin: -1px 0 0 0; }
.dropdown dd { position:relative; }
.dropdown a, .dropdown a:visited {
    text-decoration:none;
    outline:none;
    font-size: 14px;
}
.dropdown dt a {
    display:block;
    padding: 2px;
    min-height: 25px;
    overflow: hidden;
    border:0;
}
.dropdown p{ margin:0; }
.dropdown dt a span, .multiSel span {
    cursor:pointer;
    display:inline-block;
    padding: 2px;
}
.dropdown dd ul {
    background-color: #F5F5F5;

    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	box-sizing:border-box;

	display:none;
    left:0px;
    padding: 2px 15px 2px 5px;
    position:absolute;
    top:2px;
    width:280px;
    list-style:none;
    height: 100px;
    overflow: auto;
}
.dropdown span.value {
    display:none;
}
.dropdown dd ul li a {
    padding:5px;
    display:block;
}
.dropdown dd ul li a:hover {
    background-color:#fff;
}

dl.dropdown, div.applyval{
	display:none;
}

div.applyval, div.depositval, ul.roomtype > li{
	margin-top:10px;
	padding:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-sizing:border-box;
}

div.applyval, div.depositval, ul.roomtype > li.selected{
	border: 1px solid #E2E2E2;
	background-color:#F1F3F4;
}
ul.roomtype > li{
	border: 1px solid #CDCDCD;
	/*background-color: #FAFAFA;*/
  background-color: #fff;
}

table.promo-table {margin-top: 20px;}
table.promo-table tr{border-bottom:1px solid #ebeff2;}
table.promo-table tr:nth-of-type(odd){}
table.promo-table tr:nth-of-type(even){background-color: #f4f8fb;}
table.promo-table tr:first-of-type {border-bottom: 2px solid #ebeff2;font-weight: bold; color: #666666}
table.promo-table tr > td{
	padding:7px;
  text-transform: capitalize;
  /*background-color: #F8F8F8;*/
}
tr.status-green{ /*color: #5fbeaa;*/ /*text-shadow: 0px 0px 0px #5fbeaa;*/}
/* tr.status-red{ background-color:#E02726 !important; color: #fff} */
/* tr.status-red{ color:#E02726 !important;} */
tr.status-black{ background-color: #333 !important; color: #fff;}

button.trash, button.pencil{
	width:50px; height:34px;
	color:transparent;
	border:1px solid transparent;
	-webkit-border-radius: 4px;	-moz-border-radius: 4px; border-radius: 4px;

    /*Font Awesome*/
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    text-rendering: auto;
    vertical-align: top;
}
button.trash:before, button.pencil:before{color: #fff; margin-left: 12px;}
button.trash{/*background:url(../images/trash.png) center no-repeat #FFF;*/background-color: #E02726;}
button.trash:before{content: "\f1f8";}
button.trash:hover{background-color: #fff; border: 1px solid #E02726;}
button.trash:hover::before{color: #E02726;}
button.pencil{/*background:url(../images/pencil.png) center no-repeat #FFF;*/background-color: #5fbeaa;}
button.pencil:before{content: "\f040";}
button.pencil:hover{background-color: #fff; border: 1px solid #5fbeaa;}
button.pencil:hover::before{color: #5fbeaa;}

span.square{ color:transparent;}
span.status-green{ background-color:#5fbeaa; }
span.status-red{ background-color:#E02726; }
span.status-black{ background-color:#000; }

button.trash2, button.star{
	width:100%;
	height:30px;
	border:1px solid transparent;
	-webkit-border-radius: 2px;	-moz-border-radius: 2px; border-radius: 2px;
  position: relative;
  margin: 10px 0 0 0 ;
}
button.trash2{
  /*background:url(../images/trash2.png) left no-repeat #FFF;*/
  background-color: #E02726;
  color: #fff;
}
button.trash2:before,
button.star:before {
  position: absolute;
  left: 7px;
  top: 7px;

  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  text-rendering: auto;
  vertical-align: top;
}
button.trash2:before{
  content: "\f1f8";
}
button.star{
  /*background:url(../images/star.png) left no-repeat #FFF;*/
  background-color: #E02726;
  color: #fff;
}
button.star:before {
  content: "\f005";
}

table.colored-row tr:nth-child(even) td { background-color:#E8E8E8; }

.float-left { float:left; }
.dis-inblock {display: inline-block;}

#dashboard {clear: both;}
#dashboard ul {list-style: none;}
#dashboard ul .one-third,
#dashboard ul.one-column > .dashboard-item{
  display: inline-block;
  vertical-align: top;
  width: 32.05%;
  margin: 0 20px 20px 0;
  margin-right: 1%;
}
#dashboard ul .one-third:nth-of-type(3n){
  margin-right: 0;
}

#dashboard ul > .box{
  margin-bottom: 20px;
}
#dashboard ul .dashboard-item {
  vertical-align:top;
  clear:both;
  cursor:pointer;
  padding:0px;
  overflow: hidden;
  min-height: 80px;
}
/*#dashboard ul .dashboard-item.one-third {width:352px;}
#dashboard ul .dashboard-item.one-third:nth-of-type(3n) {margin-right: 0;}
#dashboard ul .dashboard-item.one-fourth {width:258px;}
#dashboard ul .dashboard-item.one-fourth:nth-of-type(4n) {margin-right: 0;}*/

#dashboard ul .dashboard-item.red .left {background-color: #ff8761;}
#dashboard ul .dashboard-item.red .right .title-1 {color: #ff8761;}
#dashboard ul .dashboard-item.blue .left {background-color: #57bdde;}
#dashboard ul .dashboard-item.blue .right .title-1 {color: #57bdde;}
#dashboard ul .dashboard-item.purple .left {background-color: #b198dc;}
#dashboard ul .dashboard-item.purple .right .title-1 {color: #b198dc;}

/*#dashboard ul .dashboard-item:nth-of-type(6n+1) > .left {background-color: #ff8761;}
#dashboard ul .dashboard-item:nth-of-type(6n+1) > .right .title-1 {color: #ff8761;}
#dashboard ul .dashboard-item:nth-of-type(6n+2) > .left {background-color: #57bdde;}
#dashboard ul .dashboard-item:nth-of-type(6n+2) > .right .title-1 {color: #57bdde;}
#dashboard ul .dashboard-item:nth-of-type(6n+3) > .left {background-color: #b198dc;}
#dashboard ul .dashboard-item:nth-of-type(6n+3) > .right .title-1 {color: #b198dc;}
#dashboard ul .dashboard-item:nth-of-type(6n+4) > .left {background-color: #6dc7be;}
#dashboard ul .dashboard-item:nth-of-type(6n+4) > .right .title-1 {color: #6dc7be;}
#dashboard ul .dashboard-item:nth-of-type(6n+5) > .left {background-color: #ffc400;}
#dashboard ul .dashboard-item:nth-of-type(6n+5) > .right .title-1 {color: #ffc400;}
#dashboard ul .dashboard-item:nth-of-type(6n+6) > .left {background-color: #999;}
#dashboard ul .dashboard-item:nth-of-type(6n+6) > .right .title-1 {color: #999;}*/

#dashboard ul .dashboard-item > .left {
  width:80px;
  height: 100%;
  color: #fff;
  vertical-align: top;
  text-align: center;
  float: left;
  position: absolute;
}
#dashboard ul .dashboard-item > .right {
  float: none !important;
  margin-left: 80px;
  width: auto !important;
}
#dashboard ul .dashboard-item > .left .fa {
  line-height: 60px;
  /*line-height: 40px;*/
}
/*#dashboard ul .dashboard-item > .right {float: right;}*/
/*#dashboard ul .dashboard-item.one-third > .right{width:76.9%;}*/
/*#dashboard ul .dashboard-item.one-fourth > .right{width:170px;}*/
#dashboard ul .dashboard-item > .right .title-1 {
  font-weight:normal;
  text-transform: uppercase;
}
#dashboard ul .dashboard-item > .right .title-2{
  text-transform: uppercase;
}
#dashboard ul .dashboard-item > .left,
#dashboard ul .dashboard-item > .right{
  padding: 10px;
  box-sizing: border-box;
  display: inline-block;
}

#dashboard h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 600;
    line-height: inherit;
    color: inherit;
}




section.content h1, section.content h2, section.content h3{
	margin:0;
}
section.content h1{
	font-size:16px;
}
section.content h2{
	font-size:14px;
}
section.content h3{
	font-size:14px;
}

.box-header.with-border {
    /*border-bottom: 1px solid #f4f4f4;*/
    border-bottom: 2px solid #ebeff2;
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	/*background:#122761 !important;*/
  background:#C52D2F !important;
}
/*.ui-button.ui-widget {border-radius: 5px;}*/
/*.ui-button.ui-widget.current {background: #2489c5 !important;}*/

.ui-widget-header{
	/*color:#122761 !important;*/
  color:#C52D2F !important;
}
.ui-widget-content {
  background: #f4f8fb !important;
  border: none !important;
}
.ui-accordion .ui-accordion-content {
    padding: 1em !important;
}
#basic-info input[type=text][disabled], #basic-info textarea[disabled], #basic-info .input-select[disabled] {
    background-color: #F0F0F0;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
     color: #F5F6F7 !important;
    /* background: #1F8581 !important; */
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: #C52D2F !important;
    color: #fff !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border-color: #F5F6F7 !important;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
    border-color: #1F8581 !important;
}

#paging {margin-top: 20px;}

input[type=checkbox]{display: inline;}
input[type=checkbox]:before {
    content:"\a";
    white-space: pre;
    display: block;
}

#fcl-menu button {
  outline: none;
  font-family: "Proxima Nova" !important;
  padding: 5px 0 !important;
  border-radius: 0px !important;
}
#fcl-menu button:hover {outline: none;}

#fcl-menu button.current{
  background: #f4f8fb !important;
  color: #000;
  border: 1px solid #ddd;
  border-bottom: none;
}
.fcl-content{
  background: #f4f8fb ;
  border: 1px solid #ddd;
  margin-top: -2px;
}
.fcl-content .side-left {
  width: 45%;
}

.ui-dialog {border: 1px solid #ddd !important; box-shadow: 0 1px 1px 0 rgba(0,0,0,.06), 0 2px 5px 0 rgba(0,0,0,.2);
    box-sizing: border-box;
}
.ui-dialog, .ui-dialog-content, .ui-dialog-buttonpane  {background-color: #fff !important;}


.navbar-nav>.notifications-menu,.navbar-nav>.messages-menu,.navbar-nav>.tasks-menu{position:relative}.navbar-nav>.notifications-menu>.dropdown-menu,.navbar-nav>.messages-menu>.dropdown-menu,.navbar-nav>.tasks-menu>.dropdown-menu{width:280px;padding:0 0 0 0!important;margin:0!important;top:100%}.navbar-nav>.notifications-menu>.dropdown-menu>li,.navbar-nav>.messages-menu>.dropdown-menu>li,.navbar-nav>.tasks-menu>.dropdown-menu>li{position:relative}.navbar-nav>.notifications-menu>.dropdown-menu>li.header,.navbar-nav>.messages-menu>.dropdown-menu>li.header,.navbar-nav>.tasks-menu>.dropdown-menu>li.header{border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:0;border-bottom-left-radius:0;background-color:#ffffff;padding:7px 10px;border-bottom:1px solid #f4f4f4;color:#444444;font-size:14px}.navbar-nav>.notifications-menu>.dropdown-menu>li.footer>a,.navbar-nav>.messages-menu>.dropdown-menu>li.footer>a,.navbar-nav>.tasks-menu>.dropdown-menu>li.footer>a{border-top-left-radius:0;border-top-right-radius:0;border-bottom-right-radius:4px;border-bottom-left-radius:4px;font-size:12px;background-color:#fff;padding:7px 10px;border-bottom:1px solid #eeeeee;color:#444!important;text-align:center}@media (max-width:991px){.navbar-nav>.notifications-menu>.dropdown-menu>li.footer>a,.navbar-nav>.messages-menu>.dropdown-menu>li.footer>a,.navbar-nav>.tasks-menu>.dropdown-menu>li.footer>a{background:#fff!important;color:#444!important}}.navbar-nav>.notifications-menu>.dropdown-menu>li.footer>a:hover,.navbar-nav>.messages-menu>.dropdown-menu>li.footer>a:hover,.navbar-nav>.tasks-menu>.dropdown-menu>li.footer>a:hover{text-decoration:none;font-weight:normal}.navbar-nav>.notifications-menu>.dropdown-menu>li .menu,.navbar-nav>.messages-menu>.dropdown-menu>li .menu,.navbar-nav>.tasks-menu>.dropdown-menu>li .menu{max-height:200px;margin:0;padding:0;list-style:none;overflow-x:hidden}.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a,.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a,.navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a{display:block;white-space:nowrap;border-bottom:1px solid #f4f4f4}.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a:hover,.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a:hover,.navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a:hover{background:#f4f4f4;text-decoration:none}.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a{color:#444444;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding:10px}.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a>.glyphicon,.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a>.fa,.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a>.ion{width:20px}.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a{margin:0px;padding:10px 10px}.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>div>img{margin:auto 10px auto auto;width:40px;height:40px}


#promotion ul.promotion-triple > li:first-child{
    background-color:#f6fbfa;
}
#promotion ul.promotion-triple > li:nth-of-type(2){
    background-color:#fff7f8;
}
#promotion ul.promotion-triple > li:nth-of-type(3){
    background-color:#eaffe9;
}
#promotion ul.promotion-triple > li > h1{
    border-bottom: 2px solid #7d7d7d;
    margin-bottom: 6px;
}
ul.colored > li{
    background-color:#f6fbfa;
    border: 1px solid #CDCDCD;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
}

ul.form-input{
   display:table;
   border-spacing:5px;/*cellspacing:poor IE support for  this*/
   width:100%;
}
ul.form-input > li{
  display:table-row;
  width:auto;
  clear:both;
  width:100%;
}
ul.form-input > li > div.side-left, ul.form-input > li > div.side-right{
  float:left;/*fix for  buggy browsers*/
  display:table-column;
  min-width:25%;
}

/*patch 21-07-17*/
ul.mybox {
    margin: 0;
    padding: 0;
}

ul.mybox .dashboard-item > .right {
    /* float: none !important;
    margin-left: 80px;
    width: auto !important; */
}

@media (max-width: 767px) {

}

@media (min-width: 768px) {
    ul.mybox li.one-third {
        width: 32.3%;
    }
}
@media (min-width: 1024px) {
    ul.mybox li.one-third {
        width: 32.4%;
    }
}

/*end patch 21-07-17*/

@media (max-width: 1024px) {
    .parent .parent-menu > li.active::after{
        left: 35%;
    }
    .parent .parent-menu > li > a > .fa {
        font-size: 1.5em !important;
    }
    .parent .parent-menu > li > a > span {
        display: none;
    }
}

.loader-wrapper {
    display:    none;
    position:   fixed;
    z-index:    100000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('../images/Ellipsis-1.7s-200px.gif')
                50% 50%
                no-repeat;
}
/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}
/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loader-wrapper {
    display: block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 53px;
  height: 25px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #05357b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #05357b;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#ui-datepicker-div {
    z-index: 2030 !important;
}

/* Dialog confirmation */
.ui-dialog.ui-front {
    z-index: 2000;
}

.menu-products{
    background-color: #fff;
}
.menu-products .parent .parent-menu > li > a {
    padding: 16px 10px 10px 10px;
}
.menu-products .parent .parent-menu > li > a img{
    height: 50px;
    filter: grayscale(100%);
}
.menu-products .parent .parent-menu > li.active > a img,
.menu-products .parent .parent-menu > li:hover > a img,
.menu-products .parent .parent-menu > li:first-of-type > a img
{
    filter: grayscale(0%);
}
.menu-products .parent .parent-menu > li.active::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    /* border-bottom: 7px solid #C52D2F; */
    border-bottom: 7px solid #288626; 
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
}
.menu-products #menu-topright .navbar-right .navbar-nav > li{
    padding: 22px 5px;
}
.menu-products #menu-topright .navbar-right .navbar-nav > li a{
    padding: 5px 10px;
    border-radius: 7px;
    letter-spacing: -0.01em;
    max-width: 175px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.menu-products #menu-topright .navbar-right .navbar-nav > li.button-red a{
    color: #fff;
    background: #C52D2F; 
}

.page-title ul {
    list-style: none;
    padding: 0;
}
.page-title ul li {
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    margin-left: 15px;
    padding-left: 18px;
    border-left: 2px solid #C52D2F;
    color: #C52D2F;
    letter-spacing: 1px;
}
.page-title ul li:first-of-type {
    margin-left: 0px;
    padding-left: 0px;
    border-left: none;
    font-size: 20px;
    letter-spacing: 1px;
}

.box.box-warning,
.box.box-success{
    border-top-color: #d2d6de !important;
}

#footer-copyright {
    text-align: right;
}
#footer-copyright img{
    height: 60px;
    filter: grayscale(100%);
    padding: 10px;
}
#footer-copyright:hover img
{
    filter: grayscale(0%);
}