/* CSS Document */

@font-face {
    font-family: 'Footlight MT Light';
    src: url('footlight_mt_light.eot');
    src: url('footlight_mt_light.eot?#iefix') format('embedded-opentype'),
         url('footlight-mt-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}