/* CSS Document */
@font-face {
    font-family: "Lucida Grande";
    src: url('fonts/ufonts.com_lucida_grande.eot');
    src: url('fonts/ufonts.com_lucida_grande.eot?#iefix') format('embedded-opentype'),
         url('fonts/ufonts.com_lucida-grande.woff') format('woff'),
         url('fonts/ufonts.com_lucida-grande.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto Regular";
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family:'Glyphicons Halflings';
    src:url(fonts/glyphicons-halflings-regular.eot);
    src:url(fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),
    url(fonts/glyphicons-halflings-regular.woff) format('woff'),
    url(fonts/glyphicons-halflings-regular.ttf) format('truetype'),
    url(fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}
@font-face{
    font-family:'Open Sans';
    src:url(fonts/open-sans/OpenSans-Regular.eot) format('truetype');
}


body{
    font-family: "Open Sans", "Lucida Grande", Tahoma, Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
a, button{
	text-decoration: none;
    cursor: pointer;
}
body.dark-background{
    background-color: #1F2036;
}
input, select, textarea{
    font-family: "Open Sans", "Lucida Grande", Tahoma, Helvetica, Arial, sans-serif;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}
label{
	font-weight:bold;
}
.dark-background #header{
    position: relative;
    background-color: #EEEEEE;
    box-shadow: 0 1px 5px rgba(0,0,0,.3);
}
.dark-background #footer{
    margin-top: 10px;
    padding-top: 10px;
}
.wrap{
    width: 1032px;
    margin: 0 auto;
}
#copyright{
    font-family: "Lucida Grande", Tahoma, Helvetica, Arial, sans-serif;
    font-size: 11px;
    color: #BBBBBB;
    text-align: center;
}
#logoimg{
    height: 65px;   
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
}
#logotext{
    display: inline-block;
    font-size: 29px;
    vertical-align: middle;
    color: #197E87;
    text-shadow: 0px 1px 1px #91BEBE;
}
#container{
    background-color: #FCFCFC;   
}
#content{
    padding: 50px 10px;
    color: #444;
}
.side-left{
    float: left;
    width: 50%;
}
.side-right{
    float: right;
    width: 50%;
}
.clear{
    clear: both;
}
.center{
    text-align: center;
}
content h1, content h2, content h3 {
    font-weight: 300;
    letter-spacing: -0.01em;
    line-height: 48px;
    margin: 0;
}
content h1{
    font-size: 28px;
    color: #C67E9F;
}
.panel-summary{
    line-height: 25px;
}
.panel-summary a{
    color: #536DFE;
}
#loginform{
    width: 300px;
    display: inline-block;
    background: rgba(233, 233, 255, 0.2);
    border-radius: 10px;
    text-align: center;
    padding-bottom: 10px;
}
#loginform h2{
    padding: 5px 10px;
    font-size: 26px;
}
.textbox{
    display: inline-block;
    width: 255px;
    height: 25px;
    padding: 6px 12px;
    font-size: 15px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group {
    margin-bottom: 15px;
}
.bt-submit{
    border-radius: 3px;
    border: 1px solid transparent;
    color: #fff;
    background-color: #6db851;
    border-color: #95c851;
    display: inline-block;
    padding: 6px 12px;
    font-size: 15px;
    cursor: pointer;
    width: 279px;
    height: 35px;
}
.bt-submit:hover{
    background-color: #95c851;
}
.alert-danger{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 10px 0;
    font-size: 11px;
}
.font-small{
    font-size: 13px;
}

/* ------------------------------------------------------------------ */
#xheader{
    height: 50px;
    background-color: #FBFBFB;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
	margin-bottom:3px;
}
#xheader div#logo{
	width:250px;
	height:50px;
	display:block;
	float:left;
}
#xheader div#logo img{
	width:100%;
	height:auto;
}

#xcontainer{
    clear: both;
	font-size: 12px;
}

/* ------------------------------------------------------------------- */
.left-side {
    top: 53px;
    position: absolute;
    width: 220px;
    display: block;
	background-color: #FBFBFB;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.sidebar {
    margin-bottom: 5px;
    border-bottom: 1px solid #fff;
}
.user-panel {
    padding: 10px;
}
.user-panel > .image > img {
    width: 45px;
    height: 45px;
    border: 1px solid #dfdfdf;
    vertical-align: middle;
}
.img-circle {
    border-radius: 50%;
}
.user-panel > .info {
	padding: 5px 5px 5px 15px;
	font-size: 13px;
	line-height: 1;
}
.user-panel p {
	margin: 0 0 10px;
}
.user-panel > .info > p {
	margin-bottom: 9px;
}
.user-panel > .info > a {
	text-decoration: none;
	padding-right: 5px;
	margin-top: 3px;
	font-size: 11px;
	font-weight: normal;
	color: #555555;
}
.fa {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.text-success {
	color: #3c763d;
}
.user-panel > .info > a > .fa{
	margin-right: 3px;
}
.sidebar .sidebar-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}
.user-panel:before, .user-panel:after {
	display: table;
	content: " ";
}
.user-panel:after {
	clear: both;
}
.sidebar .sidebar-menu > li {
	margin: 0;
	padding: 0;
}
.sidebar > .sidebar-menu > li:first-of-type {
	border-top: 1px solid #dbdbdb;
}
.sidebar > .sidebar-menu > li {
	font-size:14px;
	border-bottom: 1px solid #dbdbdb;
}
.sidebar > .sidebar-menu > li > a {
	margin-right: 1px;
}
.sidebar .sidebar-menu > li > a {
	padding: 15px 5px 15px 15px;
	display: block;
}
.sidebar a {
	color: #555555;
}
.sidebar .sidebar-menu > li > a > .fa {
	width: 20px;
}
.sidebar .sidebar-menu .treeview-menu, .sidebar .sidebar-menu .treeview-menu .treeview-menu-child {
	display: none;
	list-style: none;
	padding: 0;
	margin: 0;
}
.sidebar > .sidebar-menu > li > a:hover,
.sidebar > .sidebar-menu > li.active > a {
	color: #222;
	background: #f9f9f9;
}
.skin-blue .sidebar > .sidebar-menu > li > .treeview-menu {
	margin: 0 1px;
	background: #f9f9f9;
}
.sidebar .sidebar-menu .treeview-menu > li {
	margin: 0;
}
.sidebar .sidebar-menu .treeview-menu > li > a, .sidebar .sidebar-menu .treeview-menu-child > li > a {
	padding: 10px 10px 10px 40px;
	display: block;
	margin: 0;
	margin-left: 15px;
	position: relative;
}
.treeview-menu > li.active > a, .treeview-menu > li > a:hover,
.treeview-menu-child > li.active > a, .treeview-menu-child > li > a:hover  {
 	color: #111;
}
.treeview-menu > li > a {
	color: #777;
}
.sidebar .sidebar-menu .treeview-menu > li > a > .fa{
	width: 20px;
	position: absolute;
	left: 20px;
}
.sidebar .sidebar-menu .treeview-menu-child > li > a > .fa {
	width: 20px;
	left: 20px;
}

/* ------------------------------------------------------------------- */
.right-side {
	margin-left: 220px;
	display: block;
}
.right-side > .content-header {
	position: relative;
	padding: 15px 15px 10px 20px;
}
.right-side > .content-header {
	background: #fbfbfb;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.right-side > .content-header > h1 {
	margin: 0;
	font-size: 21px;
	font-weight: normal;
}
.right-side > .content-header > h1 > small {
	font-size: 13px;
	display: inline-block;
	padding-left: 4px;
}
.right-side > .content-header > .breadcrumb {
	float: right;
	background: transparent;
	margin-top: 0px;
	margin-bottom: 0;
	font-size: 12px;
	padding: 7px 5px;
	position: absolute;
	top: 15px;
	right: 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	list-style: none;
}
.breadcrumb > li {
	display: inline-block;
}
.right-side > .content-header > .breadcrumb > li > a {
	color: #444;
	text-decoration: none;
}
.right-side > .content-header > .breadcrumb > li > a > .fa {
	margin-right: 5px;
}
.breadcrumb > .active {
	color: #999;
}
.right-side > .content-header > .breadcrumb > li + li:before {
	content: '>\00a0';
	padding: 0 5px;
	color: #ccc;
}

/*********************************************************/
.navbar {
    position: relative;
    height: 50px;
    margin-left: 250px;
    font-size: 13px;
}
.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
}
.navbar-right {
    float: right!important;
}
.nav {
    padding-left: 0;
    list-style: none;
}
.navbar-nav {
    float: left;
    margin: 0;
}
.navbar .navbar-right > .nav {
    margin-right: 10px;
}
.nav>li {
    position: relative;
    display: block;
}
.navbar-nav>li {
    float: left;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
}
.navbar .nav a {
    color: #565252;
}
.navbar .nav > li.user > a {
    font-weight: bold;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:active,
.navbar .nav > li > a:focus,
.navbar .nav .open > a,
.navbar .nav .open > a:hover,
.navbar .nav .open > a:focus {
    background: rgba(0, 0, 0, 0.1);
    color: #f6f6f6;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.navbar-right .dropdown-menu {
    right: 0;
    left: auto;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.navbar-nav > .user-menu > .dropdown-menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 1px 0 0 0;
    border-top-width: 0;
    width: 280px;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
}
.glyphicon-user:before {
    content: "\e008";
}
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.bg-light-blue {
    background-color: #6db851 !important;
    color: #f9f9f9 !important;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: 165px;
    padding: 10px;
    background: #6db851;
    text-align: center;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
    z-index: 5;
    height: 90px;
    width: 90px;
    border: 8px solid;
    border-color: transparent;
    border-color: rgba(255, 255, 255, 0.2);
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
    z-index: 5;
    color: #f9f9f9;
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    text-shadow: 2px 2px 3px #333333;
    margin-top: 10px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p > small {
    display: block;
    font-size: 12px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer {
    background-color: #f9f9f9;
    padding: 10px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer:before, .navbar-nav > .user-menu > .dropdown-menu > li.user-footer:after {
    display: table;
    content: " ";
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer:after {
    clear: both;
}
.btn {
    display: inline-block;
    padding: 6px 9px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn {
    font-weight: 500;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid transparent;
    -webkit-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.09);
}
.btn.btn-default {
    background-color: #fafafa;
    color: #666;
    border-color: #ddd;
    border-bottom-color: #ddd;
}
.btn.btn-default:hover,
.btn.btn-default:active,
.btn.btn-default.hover {
    background-color: #f4f4f4!important;
}
.btn.btn-flat {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width: 1px;
}
.btn.btn-default.btn-flat {
    border-bottom-color: #d9dadc;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer .btn-default {
    color: #666666;
}

/****************************************************************/
.right-side > .content{
    padding: 20px 15px;
}
.box {
    position: relative;
    background: #ffffff;
    border-top: 2px solid #c1c1c1;
    margin-bottom: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    box-shadow: 0px 1px 3px rgba(85, 85, 85, 0.19);
    padding:10px;
    box-sizing:border-box;
}
.box-form{
    border-top-color: #1f96d0;
}
.table{
    width:100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.table-bordered > tbody > tr > td{
    border: 1px solid #ddd;
    padding:1px;
}
.table-bordered > tbody > tr:first-child > td{
    text-align:center;
    vertical-align:middle;
    padding:8px 0;
    background: rgb(246,248,249); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
}
.table-bordered > tbody > tr > td > img.thumbnail{
    border: 1px solid #ddd;
    width:75px;
	height:50px;
	margin:5px;
}
.algn-left{ text-align:left; }
.algn-right{ text-align:right; }
.algn-center{ text-align:center; }

	.pure-button{
		padding: 10px 15px;
		margin-bottom:5px;
		color: #FFF;
		border-radius: 4px;
		border: 0 rgba(0,0,0,0);
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
		margin-right:10px;
	}
	.pure-button > i.fa, .small-button > i.fa{
		margin-right:7px;
	}
	.pure-button.single > i.fa{
		font-size:16px;
		margin:0;
	}
	
	.pure-button.blue, .small-button.blue{
		background-color:#179AD8;
	}
	.pure-button.blue:hover, .small-button.blue:hover{
		background-color:#72D0F0;
	}
	.pure-button.green, .small-button.green{
		background-color:#66BB4F;
	}
	.pure-button.green:hover, .small-button.green:hover{
		background-color:#C7D82C;
	}
	.pure-button.red, .small-button.red{
		background-color:#E02726;
	}
	.pure-button.red:hover, .small-button.red:hover{
		background-color:#EF5443;
	}
	.pure-button.magenta, .small-button.magenta{
		background-color:#E10989;
	}
	.pure-button.magenta:hover, .small-button.magenta:hover{
		background-color:#F57ABA;
	}
	.pure-button.orange, .small-button.orange{
		background-color:#F59226;
	}
	.pure-button.orange:hover, .small-button.orange:hover{
		background-color:#F7B35D;
	}


	.small-button{
		padding: 4px 10px;
		margin-bottom:5px;
		color: #FFF;
		border-radius: 4px;
		border: 0 rgba(0,0,0,0);
		margin-right:10px;
	}
	
	.mg-top-15{
		margin-top:15px;
	}
	
.add-button{
    background: url(../images/add.png) no-repeat;
    background-position:5px;
    background-color: #6db851; /* this is a light blue */
}
.find-button{
    background: url(../images/search.png) no-repeat;
    background-position:5px;
    background-color: rgb(34, 131, 161); /* this is a light blue */
}
.action-button{
    border:none;
    height:21px;
    width:25px;
    cursor:pointer;
}
.edit-button{
    background: url(../images/edit.png) no-repeat;
    background-position:5px;
}
.delete-button{
    background: url(../images/delete.png) no-repeat;
    background-position:5px;
}
.box > h1{
    margin-bottom:10px;
}
.form-input label{ display:block; }
.form-input .input-text, .form-input .input-select, .form-input textarea{
    height: 25px;
    padding: 2px 12px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	box-sizing:border-box;
}
.form-input .input-select{
    height:31px;
}
.form-input textarea{
   height:50px;
}
.form-input button, .default-button {
    -webkit-transition: all 0s ease-out;
    -moz-transition: all 0s ease-out;
    -o-transition: all 0s ease-out;
    -ms-transition: all 0s ease-out;
    transition: all 0s ease-out;
    height: 30px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
    padding: 4px 30px 0;
    margin: 5px 0;
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    text-transform:uppercase;
    background: #e80c8a;
    -webkit-box-shadow: 0px 5px 0px 0px #a3316f;
    box-shadow: 0px 5px 0px 0px #a3316f;
}
.form-input button:active, .default-button:active{
    top: 3px;
    -webkit-box-shadow: 0px 2px 0px 0px #a3316f;
    box-shadow: 0px 2px 0px 0px #a3316f;
}

ul.inline, ul.inline-half, ul.inline-block, ul.block, ul.inline-triple { 
	list-style-type:none; 
	padding:0; 
} 

ul.inline li{ 
	display:block; 
	margin:5px 0;
}

ul.inline-half > li{ 
	display: inline-block;
    margin: 5px 20px 5px 0;
    width: 45%;
    float: left;
}

ul.inline-triple > li{ 
	display:inline-block;
  	vertical-align:top;
	margin:5px 0;
	width:33%;
}

ul.inline-block > li{ 
	display:inline-block; 
	margin:0;
}

ul.block > li {
	display:block;
	margin:10px 0; 
}

.hide{ display:none!important; }

.unbordered{ 
	border:none!important; 
	-webkit-appearance: none!important;
    -moz-appearance: none!important;
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
	webkit-transition: none!important;
	transition: none!important;
	
}

#basic-info .side-left, #maps .side-left,  #rooms .side-left{ width:30%; }
#basic-info .side-right,  #maps .side-right,  #rooms .side-textarea { width:70%; }
#basic-info input[type=text], #basic-info textarea,  #rooms textarea{ width:80%; }

.capitalize{ text-transform:capitalize; }

#accor-photos ul.inline-block li{ 
	border:1px solid #999;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding:2px;
}

#accor-photos ul.inline-block li img.thumbnail{
	width:150px;
	height:120px;
}

.form-group table tr td{
	border-spacing:0;
	padding: 2px 13px;
}
.form-group input, .form-group select, .fill-table input, .fill-table select {
	border:1px solid #C9C9C9;
	padding:2px 3px;
}
.form-group input[type=text]{
	width:115px;
}
.form-group input[type=text].small, .form-group input[type=number].small{
	width:30px;
}

/*-----------------------------------------------------------------------------------------*/

.table-fill tr:first-child td{
	background-color:#6db851;
	color:#FFF;
	font-weight:bold;
	padding:8px 0;
}
.table-fill tr.list:nth-child(even) td{
	background-color:rgb(244, 244, 244);
}
.table-fill-centered tr td{
	text-align:center;
}
.table-fill tr td{
	padding:5px 5px;
	font-size:12px;
}
.table-fill input[type=text]{
	width:65px;
}
.table-fill input[type=text].short{
	width:25px;
}
.table-fill input[type=text].medium{
	width:200px;
}
.blue-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #95c851;
	-webkit-box-shadow:inset 0px 1px 0px 0px #95c851;
	box-shadow:inset 0px 1px 0px 0px #95c851;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #95c851), color-stop(1, #FFB838));
	background:-moz-linear-gradient(top, #95c851 5%, #FFB838 100%);
	background:-webkit-linear-gradient(top, #95c851 5%, #FFB838 100%);
	background:-o-linear-gradient(top, #95c851 5%, #FFB838 100%);
	background:-ms-linear-gradient(top, #95c851 5%, #FFB838 100%);
	background:linear-gradient(to bottom, #95c851 5%, #FFB838 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#95c851', endColorstr='#FFB838',GradientType=0);
	background-color:#95c851;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #E89506;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	padding:4px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #F99F20;
}
.blue-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6DDB40), color-stop(1, #6DDB40));
	background:-moz-linear-gradient(top, #95c851 5%, #FFB838 100%);
	background:-webkit-linear-gradient(top, #95c851 5%, #FFB838 100%);
	background:-o-linear-gradient(top, #95c851 5%, #FFB838 100%);
	background:-ms-linear-gradient(top, #95c851 5%, #FFB838 100%);
	background:linear-gradient(to bottom, #95c851 5%, #FFB838 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6DDB40', endColorstr='#6DDB40',GradientType=0);
	background-color:#6DDB40;
}
.blue-button:active {
	position:relative;
	top:1px;
}


.loader {
  font-size: 50px;
  text-indent: -9999em;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0.8em auto;
  position: relative;
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #6db851, -0.11em -0.83em 0 -0.42em #6db851, -0.11em -0.83em 0 -0.44em #6db851, -0.11em -0.83em 0 -0.46em #6db851, -0.11em -0.83em 0 -0.477em #6db851;
  }
  5%,
  95% {
    box-shadow: -0.11em -0.83em 0 -0.4em #6db851, -0.11em -0.83em 0 -0.42em #6db851, -0.11em -0.83em 0 -0.44em #6db851, -0.11em -0.83em 0 -0.46em #6db851, -0.11em -0.83em 0 -0.477em #6db851;
  }
  30% {
    box-shadow: -0.11em -0.83em 0 -0.4em #6db851, -0.51em -0.66em 0 -0.42em #6db851, -0.75em -0.36em 0 -0.44em #6db851, -0.83em -0.03em 0 -0.46em #6db851, -0.81em 0.21em 0 -0.477em #6db851;
  }
  55% {
    box-shadow: -0.11em -0.83em 0 -0.4em #6db851, -0.29em -0.78em 0 -0.42em #6db851, -0.43em -0.72em 0 -0.44em #6db851, -0.52em -0.65em 0 -0.46em #6db851, -0.57em -0.61em 0 -0.477em #6db851;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #6db851, -0.11em -0.83em 0 -0.42em #6db851, -0.11em -0.83em 0 -0.44em #6db851, -0.11em -0.83em 0 -0.46em #6db851, -0.11em -0.83em 0 -0.477em #6db851;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #6db851, -0.11em -0.83em 0 -0.42em #6db851, -0.11em -0.83em 0 -0.44em #6db851, -0.11em -0.83em 0 -0.46em #6db851, -0.11em -0.83em 0 -0.477em #6db851;
  }
  5%,
  95% {
    box-shadow: -0.11em -0.83em 0 -0.4em #6db851, -0.11em -0.83em 0 -0.42em #6db851, -0.11em -0.83em 0 -0.44em #6db851, -0.11em -0.83em 0 -0.46em #6db851, -0.11em -0.83em 0 -0.477em #6db851;
  }
  30% {
    box-shadow: -0.11em -0.83em 0 -0.4em #6db851, -0.51em -0.66em 0 -0.42em #6db851, -0.75em -0.36em 0 -0.44em #6db851, -0.83em -0.03em 0 -0.46em #6db851, -0.81em 0.21em 0 -0.477em #6db851;
  }
  55% {
    box-shadow: -0.11em -0.83em 0 -0.4em #6db851, -0.29em -0.78em 0 -0.42em #6db851, -0.43em -0.72em 0 -0.44em #6db851, -0.52em -0.65em 0 -0.46em #6db851, -0.57em -0.61em 0 -0.477em #6db851;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #6db851, -0.11em -0.83em 0 -0.42em #6db851, -0.11em -0.83em 0 -0.44em #6db851, -0.11em -0.83em 0 -0.46em #6db851, -0.11em -0.83em 0 -0.477em #6db851;
  }
}

.form-box span.label{ width:150px; display:inline-block }
.form-box input[type=text], .form-box input[type=number], .form-box input[type=time], .form-box select, .form-box textarea{
    height: 25px;
    padding: 2px 12px;
    font-size: 12px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: top;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	box-sizing:border-box;
}

.form-box input[type=text].long{ width:350px; }
.form-box input[type=text].medium{ width:150px; }
.form-box input[type=text].small, .form-box input[type=number].small{ width:75px; }
.form-box input[type=text].smaller, .form-box input[type=number].smaller{ width:35px; }
.form-box textarea{ width:350px; height:50px; }

dt{
    min-height: 25px;
    padding: 2px 12px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	box-sizing:border-box;
}

.dropdown dd, .dropdown dt {
    margin:0px;
    padding:0px;
}
.dropdown ul { margin: -1px 0 0 0; }
.dropdown dd { position:relative; }
.dropdown a, .dropdown a:visited {
    text-decoration:none;
    outline:none;
    font-size: 12px;
}
.dropdown dt a {
    display:block;
    padding: 2px;
    min-height: 25px;
    overflow: hidden;
    border:0;
}
.dropdown p{ margin:0; }
.dropdown dt a span, .multiSel span {
    cursor:pointer;
    display:inline-block;
    padding: 2px;
}
.dropdown dd ul {
    background-color: #F5F5F5;
	
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	box-sizing:border-box;
	
	display:none;
    left:0px;
    padding: 2px 15px 2px 5px;
    position:absolute;
    top:2px;
    width:280px;
    list-style:none;
    height: 100px;
    overflow: auto;
}
.dropdown span.value {
    display:none;
}
.dropdown dd ul li a {
    padding:5px;
    display:block;
}
.dropdown dd ul li a:hover {
    background-color:#fff;
}

dl.dropdown, div.applyval{
	display:none;
}

div.applyval, ul.roomtype > li{
	margin-top:10px;
	padding:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-sizing:border-box;
}

div.applyval, ul.roomtype > li.selected{
	border: 1px solid #E2E2E2;
	background-color:#F1F3F4;
}
ul.roomtype > li{
	border: 1px solid #CDCDCD;
	background-color: #FAFAFA;
}

table.promo-table tr{
	border:1px solid #CCC;
}
table.promo-table tr > td{
	padding:7px; background-color: #F8F8F8;
}
.status-green{ color:#090; }
.status-red{ color:#EE1C1C; }
.status-black{ color:#000; }

button.trash, button.pencil{
	width:50px; height:30px;
	color:transparent;
	border:1px solid #CFCFCF;
	-webkit-border-radius: 2px;	-moz-border-radius: 2px; border-radius: 2px;
}
button.trash{ background:url(../images/trash.png) center no-repeat #FFF; }
button.pencil{ background:url(../images/pencil.png) center no-repeat #FFF; }

span.square{ color:transparent;}
span.status-green{ background-color:#090; }
span.status-red{ background-color:#EE1C1C; }
span.status-black{ background-color:#000; }

button.trash2, button.star{
	width:100%;
	height:30px;
	border:1px solid #CFCFCF;
	-webkit-border-radius: 2px;	-moz-border-radius: 2px; border-radius: 2px;
}
button.trash2{ background:url(../images/trash2.png) left no-repeat #FFF; }
button.star{ background:url(../images/star.png) left no-repeat #FFF; }

table.colored-row tr:nth-child(even) td { background-color:#E8E8E8; }

.float-left { float:left; }

	#dashboard ul > li{
		width:33%;
		vertical-align:top;
	}
	#dashboard ul > li > div { clear:both; vertical-align:top; padding:15px 0; cursor:pointer; }
	#dashboard ul > li:nth-of-type(1) > div { border-bottom:3px solid #B0C9D8; }
	#dashboard ul > li:nth-of-type(2) > div { border-bottom:3px solid #7CC38E; }
	#dashboard ul > li:nth-of-type(3) > div { border-bottom:3px solid #FAA99B; }
	#dashboard ul > li > div  h1 { margin:2px 0; font-size:24px; font-weight:normal; } 
	#dashboard ul > li > div > div.left, #dashboard ul > li > div > div > div.left{ width:25%; float:left; }
	#dashboard ul > li > div > div.right,  #dashboard ul > li > div > div > div.right{ width:74%; float:right; }
	#dashboard ul > li > div:nth-of-type(1) > div:nth-of-type(1){
		background-color:#EFEFEF; 
		-moz-border-radius:8px;
		-webkit-border-radius:8px;
		border-radius:8px;
		padding-top:10px; padding-bottom:10px;
	}
	#dashboard ul > li > div > div{
		padding:0 15px; 
	}

	img.icon{
		width:20px;
		height:20px;
	}
	
section.content h1{
	font-size:16px;
}
section.content h2{
	font-size:14px;
}
section.content h3{
	font-size:12px;
}
