.jcarousel-skin-cutidulu .jcarousel-container {
    
}

.jcarousel-skin-cutidulu .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-cutidulu .jcarousel-container-horizontal {
    width: 700px;
    /*padding: 0px 20px;*/
}

.jcarousel-skin-cutidulu .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-cutidulu .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-cutidulu .jcarousel-clip-horizontal {
    width: 700px;
    height: 75px;
}

.jcarousel-skin-cutidulu .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}

.jcarousel-skin-cutidulu .jcarousel-item {
    width: 75px;
    height: 75px;
}

.jcarousel-skin-cutidulu .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 5px;
}

.jcarousel-skin-cutidulu .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-cutidulu .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-cutidulu .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-cutidulu .jcarousel-next-horizontal {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 24px;
    height: 100%;
    cursor: pointer;
    background: #f0f0f0 url(next.png) no-repeat 0 center;
    background-size: contain;
    -webkit-transition: all 0.2s; 
   	   -moz-transition: all 0.2s; 	
	     -o-transition: all 0.2s;
		    transition: all 0.2s;
	opacity: 0.8;
}

.jcarousel-skin-cutidulu .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(prev.png);
}

.jcarousel-skin-cutidulu .jcarousel-next-horizontal:hover,
.jcarousel-skin-cutidulu .jcarousel-next-horizontal:focus {
    opacity: 1;
}

.jcarousel-skin-cutidulu .jcarousel-next-horizontal:active {
	opacity: 0.4;
}

.jcarousel-skin-cutidulu .jcarousel-next-disabled-horizontal,
.jcarousel-skin-cutidulu .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-cutidulu .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-cutidulu .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    opacity: 0;
}

.jcarousel-skin-cutidulu .jcarousel-prev-horizontal {
    position: absolute;
    top: 0px;
    left: -0px;
    width: 24px;
    height: 100%;
    cursor: pointer;
    background: #f0f0f0 url(prev.png) no-repeat 0 center;
    background-size: contain;
    -webkit-transition: all 0.2s; 
   	   -moz-transition: all 0.2s; 	
	     -o-transition: all 0.2s;
		    transition: all 0.2s;
	opacity: 0.8;
}

.jcarousel-skin-cutidulu .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(next.png);
}

.jcarousel-skin-cutidulu .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-cutidulu .jcarousel-prev-horizontal:focus {
    opacity: 1;
}

.jcarousel-skin-cutidulu .jcarousel-prev-horizontal:active {
    opacity: 0.4;
}

.jcarousel-skin-cutidulu .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-cutidulu .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-cutidulu .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-cutidulu .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    opacity: 0;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-cutidulu .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-cutidulu .jcarousel-next-vertical:hover,
.jcarousel-skin-cutidulu .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-cutidulu .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-cutidulu .jcarousel-next-disabled-vertical,
.jcarousel-skin-cutidulu .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-cutidulu .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-cutidulu .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-cutidulu .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-cutidulu .jcarousel-prev-vertical:hover,
.jcarousel-skin-cutidulu .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-cutidulu .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-cutidulu .jcarousel-prev-disabled-vertical,
.jcarousel-skin-cutidulu .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-cutidulu .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-cutidulu .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}
