
section#pms-lite.content{
  padding: 5px;
}
section#pms-lite.content div.box{
  padding: 0;
}
section#pms-lite.content h2{
  font-size: 1.3em;
}
section#pms-lite.content h3{
  font-size: 1em;
  font-weight: bold;
  padding: 5px 0;
}
section#pms-lite.content .form-control{
  padding: 0 3px;
}
section#pms-lite.content.view-detail{
  font-size: 0.9em;
}
section#pms-lite.content table#table-reservation-chart{
  /*font-size: 0.85em;*/
}
section#pms-lite.content.view-detail table#table-reservation-chart{
  font-size: 1em;
}
table#table-reservation-chart{
  margin-top: 10px;
}
table#table-reservation-chart tbody > tr.hotelname > td {
  background-color: #59b5b2;
  color: #fff;
  font-weight: bold;
}
table#table-reservation-chart tbody > tr > td {
  padding: 2px!important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
table#table-reservation-chart tbody > tr > td.full-box{
  width: 100%;
  height: 100%;
}
table#table-reservation-chart tbody > tr > td > a {
  color: inherit;
}
table#table-reservation-chart tbody > tr.blocked > td {
  background-color: #7d7d7d;
  color: #fff;
  font-weight: bold;
}
table#table-reservation-chart tbody > tr.blocked > td:nth-child(n+2) {
  text-align: center;
}
table#table-reservation-chart tbody > tr.blocked > td:first-of-type {
  text-align: left;
  padding-top: 4px!important;
  padding-bottom: 4px!important;
}
table#table-reservation-chart tbody > tr.date-periode > td {
  background-color: #edeef2;
  text-align: center;
}
table#table-reservation-chart tbody > tr.roomtype > td {
  background-color: #f5f8e5;
  font-weight: bold;
  font-size: 1.1em;
}
table#table-reservation-chart tbody > tr.roomtype > td {
  background-color: #f5f8e5;
}
table#table-reservation-chart tbody > tr.blocked > td:nth-child(n+2):hover, table#table-reservation-chart tbody > tr.roomnumber > td:nth-child(n+2):hover {
  cursor: pointer;
}
table#table-reservation-chart tbody > tr.blocked > td:nth-child(n+2):hover{
  background-color: #000;
}
table#table-reservation-chart tbody > tr.roomnumber > td:nth-child(n+2){
  color: #fff;
}
table#table-reservation-chart tbody > tr > td.block {
  background: repeating-linear-gradient(45deg, #fff, #d1d1d1 1px, #ffffff 3px, #d1d1d1 1px);
}
table#table-reservation-chart tbody > tr > td.reserved, .pms-legend .reserved{
  background-color: #CC3333;
}
table#table-reservation-chart tbody > tr > td.checkin, .pms-legend .checkin {
  background-color: #109617;
}
table#table-reservation-chart tbody > tr > td.checkout, .pms-legend .checkout {
  background-color: #8700a1;
}
table#table-reservation-chart tbody > tr > td.earlycheckout, .pms-legend .earlycheckout {
  background-color: #2233ff;
}
table#table-reservation-chart tbody > tr > td.hold, .pms-legend .hold {
  background-color: #919191;
}
table#table-reservation-chart tbody > tr > td.ooo, .pms-legend .ooo {
  background-color: #000000; color #fff;
}
table#table-reservation-chart tbody > tr.roomnumber > td.empty:hover{
  background-color: #535c64;
}

.pms-legend { font-size: 0.92em; margin-top: 10px; font-weight: bold;}
.pms-legend > span{ width: 10px; height: 10px; display: inline-block; margin: 0 5px;}

table tr.list-breakdown{ font-size: 0.9em;}

ul.breakdown-rate li{ margin:0 0 5px; }
ul.breakdown-rate li > label, ul.breakdown-rate li > span{ display:block; text-align:center; padding:3px 5px; }
ul.breakdown-rate li > label{ background-color:#ced0d2; margin:0 }
ul.breakdown-rate li > span{ border:1px solid #ced0d2; }

div.pms-lite-modal .modal-dialog{
  min-width:75%!important;
}
div#createReservation .modal-dialog{
  min-width:90%!important;
}
div.pms-lite-modal .modal-dialog hr{
  margin: 10px 0;
}

div.pms-lite-modal .modal-dialog h3{
  font-size: 1.1em;
  margin: 5px 0;
  font-weight: bold;
}
div.pms-lite-modal .modal-dialog h4{
  font-size: 1.05em;
  margin: 5px 0;
  font-weight: bold;
}
div.pms-lite-modal .modal-dialog h4 span.blue{
  color: #246aa6;
}
div.pms-lite-modal .modal-body div.row{
  margin:0 0 5px;
}
div.pms-lite-modal .modal-body div.row > div{
  padding: 0 5px;
}
div.pms-lite-modal .modal-body, div.pms-lite-modal .modal-body .form-control{
  font-size: 0.92em!important;
}
div.pms-lite-modal .modal-body input[type=text] {
    width: 100%;
}
div.pms-lite-modal .modal-body input, div.pms-lite-modal .modal-body select{
  padding: 2px;
  height: auto;
  margin-right: 5px;
  color: #000;
  border-color: #929292;
}
div.pms-lite-modal .modal-body select{
  padding: 3px 2px;
}
div.pms-lite-modal .modal-body .input-group-addon{
  padding: 2px 5px;
  border-color: #929292;
}

section#pms-lite.content.view-detail .table-bordered>thead>tr>th, section#pms-lite.content.view-detail .table-bordered>tbody>tr>td, section#pms-lite.content.view-detail .table-bordered>tfoot>tr>td{
  border: 1px solid #6a6a6a;
}
section#pms-lite.content.view-detail .table-bordered>thead>tr>th{
  background-color: #9a9a9a;
  text-align: center;
}
section#pms-lite.content.view-detail a{
    font-weight: bold;
    color: #015754;
}

section#pms-lite.content{
  font-size: 0.9em;
}
section#pms-lite.content table#table-detail-rsv{
  /*font-size: 0.88em;*/
}
section#pms-lite.content table#table-detail-rsv input, section#pms-lite.content table#table-detail-rsv select{
  font-size: 1em;
  padding: 2px;
  height: auto;
}
section#pms-lite.content table#table-detail-rsv tr th {
  text-align: center;
  vertical-align: middle;
  background-color: #ececec;
}
section#pms-lite.content table#table-detail-rsv tr td{
  padding: 2px;
}
section#pms-lite.content table#table-detail-rsv tr th, section#pms-lite.content table#table-detail-rsv tr td{
  border: 1px solid #d1d1d1;
}
.ui-widget-content{
  z-index: 10000!important;
}

hr{ margin:10px 0; border-color: #a2a2a2!important;}
hr.hr-wide{
  margin: 10px 0 20px;
  border-top-width: 2px;
  border-color: #666666!important
}
hr.hr-dotted{
  margin: 10px 0;
  border-top: 1px dotted #d1d1d1;
}

.form-group input[type=text], .form-group input[type=time], .form-group input[type=number]{ width:100%; }
.form-group input[type=time]{ line-height: inherit;}
.title-manage{ margin-bottom: 10px;}
span.mandatory{ color:#F00 }
.trumbowyg-editor{ background-color: #fFf;}

table#table-data{
  font-size: 0.91em;
}

table#housekeepingtable tbody > tr > td.occupied {
  background-color: #109617;
}
table#housekeepingtable tbody > tr > td.checkout {
  background-color: #DD5511;
}
table#housekeepingtable tbody > tr > td.hk-1{
  background-color: #f9adad;
}
table#housekeepingtable tbody > tr > td.hk-2{
  background-color: #1359f7;
}
table#housekeepingtable tbody > tr > td.hk-3{
  background-color: #fff819;
}
table#housekeepingtable tbody > tr > td.hk-4{
  background-color: #CFA7CF;
}
table#housekeepingtable tbody > tr > td.hk-5{
  background-color: #C7C7AD;
}
table#housekeepingtable tbody > tr > td.hk-6{
  background-color: #7bfd82;
}
table#housekeepingtable tbody > tr > td a{
  color: #000000;
  font-weight: bold;
}
table#housekeepingtable tbody > tr > td.hk-2 a{
  color: #FFF;
}
.ui-autocomplete-loading { background:url('img/indicator.gif') no-repeat right center }
