@charset "utf-8";
/* CSS Document */
div#member-area{
	padding-top:30px;
	font-size:1.05em;
}
div#member-area h3{
	font-size:1.05em;
	letter-spacing:1px;
	margin:10px 0;
}
div#member-area aside#side-menu{
	float:left;
	background-color:#91275a;
	width:110px;
}
div#member-area .box{ padding:15px; }
div#member-area ul.list-menu{ margin:10px 0; }
div#member-area ul.list-menu > li{
	text-align:center;
	font-size:1.05em;
	padding:15px 15px;
}
div#member-area ul.list-menu > li i{ 
	font-size:1.7em; 
	padding-bottom:5px;
}
div#member-area ul.list-menu > li i, div#member-area ul.list-menu > li span{ display:block; }
div#member-area ul.list-menu > li a{ color:#FFF; }
div#member-area ul.list-menu > li:hover, div#member-area ul.list-menu > li.active{ background-color: #6a0d39; }
div#member-area section#content{
	float:right;
	width:900px;
}

div.form{ font-size:1.25em; margin-bottom:10px; }
div.form-group{ margin-bottom:10px; clear:both; }
div.form-group label, div.form-group label{ display:inline-block; }
div.form-group label{
	width:150px;
	padding-right:30px;
	font-weight:bold;
	text-align:right;
}
div.form input, div.form select{
	padding:7px 6px;
	border:1px solid #c9c9c9;
	height:auto!important;
	font-size:1.03em;
}
div.form select{
	padding:6px;
}

div#member-area .md-12{ width:100%; }
div#member-area .md-9{ width:75%; }
div#member-area .md-6{ width:50%; }
div#member-area .md-3{ width:25%; }

.sticky-title{ border-bottom:1px solid; }
.sticky-title span{
	padding: 3px 10px;
    display: inline-block; 
	color: #FFF; 
	border-top-left-radius:5px; 
	border-top-right-radius:5px;
}
.sticky-title.purple{ border-color: #91275a; }
.sticky-title.purple span{ background-color: #91275a; }

.sticky-title.turqoise{ border-color: #168d94; }
.sticky-title.turqoise span{ background-color: #168d94; }

div#member-area button, .nyroModalCont button{
	-webkit-transition: all 0s ease-out;
    -moz-transition: all 0s ease-out;
    -o-transition: all 0s ease-out;
    -ms-transition: all 0s ease-out;
    transition: all 0s ease-out;
    height: 30px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
    padding: 4px 30px 0;
    margin: 5px 0;
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}

div#member-area button.purple, .nyroModalCont button.purple{
    background: #91275a;
    -webkit-box-shadow: 0px 5px 0px 0px #6a0d39;
    box-shadow: 0px 5px 0px 0px #6a0d39;
}

.text-right{ text-align:right; }
.text-left{ text-align:left; }
.text-center{ text-align:center; }

.text-purple, a.text-purple{ color:#6a0d39; }
.text-red, a.text-red{ color:#CC0000; }
.text-turqoise, a.text-turqoise{ color:#168d94; }
.underline{ text-decoration:underline; }

.table{
	width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
	border-spacing: 0;
    border-collapse: collapse;
}
.table > thead > tr > th{
	text-align:center;
    border-bottom: 2px solid #d0d0d0;
	border-top:none!important
}
.table > thead > tr > th, .table > tbody >tr >td {
    padding: 5px;
    vertical-align: top;
    border-top: 1px solid #d0d0d0;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.table a:hover{ font-weight:bold; }

#detail-booking h1, #detail-booking h2{
	margin:0;
	font-weight:100;
	
}
#detail-booking h1{ font-size: 22px; }
#detail-booking h2{ font-size: 17px; }
#detail-booking span.grey{
	color:#999;
}

#detail-booking table.table-border > tbody > tr > td { border: 1px solid #C9C9C9; padding:2px; }
#detail-booking table.ch-table { margin-bottom:0; }
#detail-booking table.ch-table > tbody > tr > td { border-bottom: 1px solid #434444; border-right:none; border-left:none; border-top:none; }
#detail-booking table.ch-table > tbody > tr > td:first-of-type { padding-right:10px; }
#detail-booking table.ch-table > tbody > tr > td:nth-of-type(2) { text-align:right; }
#detail-booking table.ch-table > tbody > tr:last-of-type > td{ border:none; }
